<div id='main' class='ui-toolbar ui-corner-all' style='display: none;'>
  <div class='shortcut'>
    <div class='window ui-widget'>
      <a class='window-tab'>
        <button id='tools' class='no-display'><span id='tools-icon' class='ui-icon'></span></button>
      </a>
      <div>
        <div id='tools-panel'>
          <ul id='tools-menu'>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id='main-rpanel'>
    <div class='main-right'>
      <div class='panels'>
      </div>
      <input type="hidden" class="product_title" value="">
      <div id='users-button-bar' class='window ui-widget'>
      </div>
    </div>
  </div>
</div>