

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="payment_details" enctype="multipart/form-data"> {% csrf_token %}

    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="deepakkuppusamy.gs@gmail.com">
    <input type="hidden" name="receiver_email" value="{{settings.PAYPAL_RECEIVER_EMAIL}}">
    
    <input type="hidden" name="rm" value="2"/>
  
    <input type="hidden" name="charset" value="utf-8" id="id_charset">
    <input type="hidden" name="currency_code" value="USD" id="id_currency_code">
    <input type="hidden" name="no_shipping" value="1" id="id_no_shipping">
    <input type="hidden" name="item_name" value="add1">
    <input type="hidden" name="custom" value="deepak"/>
    <input type="hidden" class="fl large" name="first_name" value="{{deepak}}" >
    <input type="hidden" name="last_name" value="deepak"/>
    <!-- <input type="hidden" name="cancel_return" value="{{current_site}}/dashboard/deposit/?transactionfail=error"/> -->
    <input type="hidden" name="cancel_return" value="http://192.168.1.35:8000"/>
    <!-- <input type="hidden" name="return" value="{{current_site}}/dashboard/deposit_success/?deposit=1"> -->
    <input type="hidden" name="return" value="http://192.168.1.35:8000/paypal/">
    <input type="hidden" name="notify_url" id="id_notify_url" value="http://192.168.1.35:8000/show_me_the_money"/>
    <input border="0" type="image" alt="Buy it Now" name="submit" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif">
</form>                            