{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"> 
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <link href="{% static "css/index.less" %}" rel="stylesheet/less" type="text/less">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.js" %}"></script>  
    <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/jquery.ui.slider.js" %}"></script>
    <script src="{% static "js/jquery.easytabs.js" %}"></script>
    <script src="{% static "js/jquery.switchButton.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/generate-phoneno.js" %}"></script>
    <script src="{% static "js/form-actions.js" %}"></script>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/less.js" %}"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/quikr_project.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="top_header"> 
      <div class="container">
        <nav class="navbar navbar-inverse navigation_bar logo_contain">
          	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span> 
            		<span class="icon-bar"></span> 
           		</button>
        	</div> <!-- navbar header -->
        	<div id="navbar" class="collapse navbar-collapse">
            	<ul class="nav navbar-nav navbar-right">
              		<li>
                        <div class="custom_select language_custom_select">
                        	<div class="select">
                          		<p>English</p>
                        	</div><!-- select -->
                        	<i class="fa fa-caret-down"></i>
							<select class="custom_select_value_act" name="language"> 
                          		<option value="Select">Select</option>
                          		<option value="English">English</option>
                          		<option value="Hindi">Hindi</option>
                        	</select>
                      	</div><!-- custom_select -->
              		</li>
              		<li><a href="#" class="">Login</a></li>
              		<li><a href="#" class="">Sign up</a></li>
            	</ul>
          	</div> <!-- navbar collapse -->
        </nav> <!-- navigation bar --> 
      </div><!-- container -->
    </div><!-- top_header -->
    <div class="search_part">
      	<div class="container logo_part">
        	<code></code>
            	<form class="info_form">
                    <div class="button">
                        <i class="fa fa-search search_icon"></i>
                      	<input type="text" class="form-control input-lg" placeholder="iPhone">
                    </div>
                    <button type="submit"class="btn btn-lg btn-success search_b">Search</button>
                  	<button type="submit"class="btn btn-lg post-button">Post free Ad</button>
                  	<button type="submit"class="btn btn-lg alert-button">Create free alert</button>
            	</form> <!-- info_form -->
            	
      	</div> <!-- container logo_part -->
      	<div>
      		<span>Post an Ad in just 30 seconds</span>
            <span>DO NOT post multiple ads for the same items or service. All duplicate, spam and wrongly categorized ads will be deleted.</span>
      	</div>
    </div> <!-- search_part -->
    
    <hr>
    <div class="container center">
      	<div class="product_form_part">
          	<h4>Post Free AD</h4>
      	</div> <!-- product_form_part -->
      	<div class="left_part left_product_form_part">
        	<div id="cssmenu" class="cssmenu_product_form">
          		<ul>
           	 		<li class='has-sub css_menu category_font_size'><a href='#'>
           	 		<span class=" all-category">All Categories</span>
           	 		</a>
              			<ul>
                			<li class='has-sub'><a href='#' class="category_icon1">
                			<span>Cars And Bikes</span></a>
                    			<ul class="sub_list">
                        			<li><a href="">Cars</a></li>
                        			<li><a href="">Motorcycles</a></li>
                        			<li><a href="">Scooters</a></li>
                        			<li><a href="">Spare parts-Accessories</a></li>
                        			<li><a href="">Bicycles </a></li>
                        			<li><a href="">Buses-Trucks-Commercial Vehicles</a></li>
                        			<li><a href="">Construction Vehicles</a></li>
                        			<li><a href="">Other vehicles</a></li>
                    			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#'  class="category_icon2">
                			<span>Mobiles and Tablets</span></a>
                    			<ul class="sub_list">
                        			<li><a href="">Mobile phones</a></li>
                        			<li><a href="">Accessories</a></li>
                        			<li><a href="">Tablets</a></li>
                    			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon3">
                			<span>Electronic Appliances</span></a>
                      			<ul class="sub_list">
                          			<li><a href="">Laptops-Computers</a></li>
		                          	<li><a href="">Computer Peripherals </a></li>
		                          	<li><a href="">Home-Kitchen Appliances</a></li>
		                          	<li><a href="">Tools-Machinery-Industrial</a></li>
		                          	<li><a href="">TV-DVD-Multimedia </a></li>
		                          	<li><a href="">Cameras-Digicam</a></li>
		                          	<li><a href="">Music systems-Home theatre </a></li>
		                          	<li><a href="">Security Equipment-Products</a></li>
		                          	<li><a href="">Inverter,UPS,Generator </a></li>
		                          	<li><a href="">Video Games-Consoles</a></li>
		                          	<li><a href="">FAX,EPABX,Office Equipment</a></li>
		                          	<li><a href="">Camera Accessories</a></li>
		                          	<li><a href="">iPODS,Mp3 players</a></li>
		                          	<li><a href="">Office Supplies</a></li>
		                          	<li><a href="">Everything Else </a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon4">
                			<span>Real Estate</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Houses - Apartments for Rent</a></li>
			                          <li><a href="">Land - Plot For Sale </a></li>
			                          <li><a href="">Houses - Apartments for Sale </a></li>
			                          <li><a href="">Commercial Property for Rent </a></li>
			                          <li><a href="">Paying Guest - Hostel </a></li>
			                          <li><a href="">Villas/Bungalows for Sale </a></li>
			                          <li><a href="">Commercial Property for Sale </a></li>
			                          <li><a href="">Villas/Bungalows for Rent</a></li>
			                          <li><a href="">Flatmates</a></li>
			                          <li><a href="">Service Apartments</a></li>
			                          <li><a href="">Vacation Rentals - Timeshare</a></li>

                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon5">
                			<span>Home And Lifestyle</span></a>
                      			<ul class="sub_list">
		                        	<li><a href="">Home - Office Furniture </a></li>
		                        	<li><a href="">Clothing - Garments</a></li>
		                            <li><a href="">Health - Beauty Products</a></li>
		                            <li><a href="">Sport - Fitness Equipment</a></li>
		                            <li><a href="">Home Decor - Furnishings</a></li>
		                            <li><a href="">Coins - Stamps</a></li>
		                            <li><a href="">Fashion Accessories </a></li>
		                            <li><a href="">Collectibles</a></li>
		                            <li><a href="">Musical Instruments</a></li>
		                            <li><a href="">Watches</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon6">
                			<span>Jobs</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Full Time Jobs</a></li>
			                          <li><a href="">Work From Home</a></li>
			                          <li><a href="">Placement - Recruitment Agencies</a></li>
			                          <li><a href="">Part Time Jobs</a></li>
			                          <li><a href="">Freelancers</a></li>
			                          <li><a href="">Non-Profit NGOs</a></li>
			                          <li><a href="">Summer Trainees - Interns </a></li>
			                          <li><a href="">Other Jobs</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon7">
                			<span>Services</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Advertising - Design</a></li>
			                          <li><a href="">Airline - Train - Bus Tickets </a></li>
			                          <li><a href="">Astrology - Numerology</a></li>
			                          <li><a href="">Baby Sitters - Nanny</a></li>
			                          <li><a href="">Business Offers</a></li>
			                          <li><a href="">Carpenters - Upholstery</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon8">
                			<span>Entertainment</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Acting - Modeling Roles</a></li>
			                          <li><a href="">Acting Schools </a></li>
			                          <li><a href="">Modeling Agencies</a></li>
			                          <li><a href="">Photographers - Cameraman</a></li>
			                          <li><a href="">Musicians</a></li>
			                          <li><a href="">Script Writers</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon9">
                			<span>Pets And Pet Care</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Pets</a></li>
			                          <li><a href="">Pet Adoption</a></li>
			                          <li><a href="">Pet Care - Accessories</a></li>
			                          <li><a href="">Pet Training & Grooming</a></li>
			                          <li><a href="">Pet Foods</a></li>
			                          <li><a href="">Pet Clinics</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon10">
                			<span>Education And Learning</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Coaching & Tuitions</a></li>
			                          <li><a href="">Professional & Short Term Courses</a></li>
			                          <li><a href="">Distance Learning Courses</a></li>
			                          <li><a href="">Text books & Study Material</a></li>
			                          <li><a href="">Career Counseling</a></li>
			                          <li><a href="">Hobby Classes</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                			<li class='has-sub'>
                			<a href='#' class="category_icon11">
                			<span>Community And Events</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Charity - Donate - NGO</a></li>
			                          <li><a href="">Car Pool - Bike Ride</a></li>
			                          <li><a href="">Events</a></li>
			                          <li><a href="">Announcements</a></li>
			                          <li><a href="">Tender Notices</a></li>
			                          <li><a href="">Lost - Found</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
                 			<li class='has-sub'>
                 			<a href='#' class="category_icon12">
                 			<span>Matrimonial</span></a>
                      			<ul class="sub_list">
			                          <li><a href="">Grooms</a></li>
			                          <li><a href="">Brides</a></li>
			                          <li><a href="">Wedding Planners</a></li>
                      			</ul> <!-- sub_list -->
                			</li>
              			</ul>      
            		</li>
          		</ul>
        	</div> <!-- cssmenu_product_form -->
      </div> <!-- left_part left_product_form_part -->
      <div class="right_part right_product_form_part">
          <div class="form_head_part">
                <h3>Post an AD in just 30 seconds</h3>
                <span>Please DO NOT post multiple ads for the same items or service. All duplicate, spam and wrongly categorized ads will be deleted</span>
            </div> <!-- form_head_part -->
            <div class="category_selected">
                <div class="category_text form_left">
                  <span>Selected category :</span>
                </div> <!-- category_text form_left-->
                <div class="category_field form_right">
                    <p>
                        <span class="selected_category">
                            <a href=""> Cars And Bikes</a>
                        </span>
                        <i class="fa fa-angle-right right"></i>
                        <span class="selected_sub_category">
                            <a href=""> Cars</a>
                        </span>
                    </p>
                    <a href=""> - choose another category</a>
                </div> <!-- category_field form_right-->
                <div class="clear_both"></div>
            </div> <!-- category_selected -->
          <div class="form_ad_type">
            <div class="form_ad_text form_left">
              <span>Type of AD </span>
              <span class="mandatory">*</span> <!-- mandatory -->
            </div> <!-- form_ad_text -->
            <div class="form_field form_right fl">
              <label class="required">
                <input type="radio" lblname="Type of ad" value="sell" name="Ad_Type">
                I want to sell
              </label>
              <label class="required">
                <input type="radio" lblname="Type of ad" value="buy" name="Ad_Type">
                I want to buy
              </label>
              <span id="ad_type_required" class="hide_error_message error_message">Please enter Type of Ad.</span>
            </div> <!-- form_field -->
            <div class="clear_both"></div>
          </div> <!-- form_ad_type -->
          <div class="form_ad_type_field">
            <div class="form_title_ad form_left">
              <span>Title for your AD</span>
              <span class="mandatory">*</span>
            </div> <!-- form_title_ad -->
            <div class="form_input form_right fl">
              <input class="inputttl required" id="ad_title" type="text" placeholder="2007 Honda City For Sale in MG Road. Driven 45,000 kms" value="" maxlength="195" size="45" name="title">
              <span id="ad_title_required" class="hide_error_message error_message">Please enter Title.</span>
            </div> <!-- form_input -->
            <div class="clear_both"></div>
          </div> <!-- form_ad_type_field -->
          <div class="form_ad_photos">
            <div class="form_ad_photos_text form_left">
              <span>Photos for your AD</span>
              <!-- <span class="mandatory">*</span> -->
            </div> <!-- form_ad_photos_text -->
            <div class="form_ad_photos_block form_right fl">
              <div id="ad_photos">
                <input type="file" name="fileToUpload" id="fileToUpload">
                <!-- <span class="camera_img"> </span>
                Add Photo
              </div> 
              <span class="fl">&nbspor&nbsp</span>
              <div class="form_drag_photos">
                <span class="drag_photos"></span>
                Drag photos here -->
              </div> <!-- ad_photos -->
              <div class="grey_rectangle">
                
              </div>
            </div> <!-- form_ad_photos_block -->
            <div class="clear_both"></div>
          </div> <!-- form_ad_photos -->
          <div class="form_product_condition">
            <div class="form_ad_text form_left">
              <span>Condition </span>
              <span class="mandatory">*</span> <!-- mandatory -->
            </div> <!-- form_ad_text -->
            <div class="form_field form_right fl">
              <label class="required">
                <input type="radio" lblname="Type of ad" value="used" name="condition">
                used
              </label>
              <label class="required">
                <input type="radio" lblname="Type of ad" value="new" name="condition">
                new
              </label>
              <span id="condition_required" class="hide_error_message error_message">Please select Condition.</span>
            </div> <!-- form_field -->
            <div class="clear_both"></div>
          </div> <!-- form_product_condition -->
          <div class="form_ad_price">
            <div class="formlabel form_left">
              <span>Price</span>
            </div><!-- formlabel -->
            <div class="formfield_price form_right fl">
              <div class="final-pay-part">
                  <span class="rupees">Rs.&nbsp</span> 
                  <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="Price" class="ad_attribute searchinput inputttl-price " type="text" value="" maxlength="15" name="Price">
                  <span class="rupees">&nbsp.00</span>
              </div> <!-- final-pay-part -->
              <div class="blue_button msp" style="float: left; display: block;">Check MSP</div> <!-- blue_button msp -->
              
              <div class="pricenotice_main">
                  <span>Ads with inaccurate Prices receive 80% fewer replies</span>
              </div> <!-- pricenotice_main -->
              </div> <!-- formfield_price -->
              <div class="clear_both"></div>
          </div> <!-- form_ad_price -->
          <div class="brand_name_part">
              <div class="brand_name_text form_left">
                <span>Brand Name</span>
                <span class="mandatory">*</span>
              </div> <!-- brand_name_text -->
              <div class="brand_name_dropdown_field form_right fl">
                  <div class="brand_name_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_brand" placeholder="Brand Name" title="type &quot;a&quot;">
                      <span id="brand_name_required" class="hide_error_message error_message">Please select Brand Name.</span>
                      <!-- <span class="grey_text">Brand Name</span>
                        <i class="fa fa-caret-down"></i>
                      <select class="brand_name_select" name="language"> 
                          <option>Nissan</option>
                          <option>Opel</option>
                          <option>Renault</option>
                          <option>Rolls Royce</option>
                      </select> -->
                  </div> <!-- brand_name_div -->
              </div> <!-- brand_name_dropdown_field -->
              <div class="clear_both"></div>
          </div> <!-- brand_name_part -->
          <div class="model_name_part">
              <div class="brand_name_text form_left">
                <span>Model Name</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="brand_name_dropdown_field form_right fl">
                  <div class="model_name_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_model" placeholder="Model Name" title="type &quot;a&quot;">
                      <span id="model_name_required" class="hide_error_message error_message">Please select Model Name.</span>
                      <!-- <span class="grey_text">Model Name</span>
                        <i class="fa fa-caret-down"></i>
                      <select class="brand_name_select" name="language"> 
                          <option>passat</option>
                          <option>polo</option>
                          <option>vento</option>
                          <option>jetta</option>
                      </select> -->
                  </div> <!-- model_name_div -->
              </div> <!-- brand_name_dropdown_field -->
              <div class="clear_both"></div>
          </div> <!-- model_name_part -->
          <div class="year_name_part">
              <div class="brand_name_text form_left">
                <span>Year</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="brand_name_dropdown_field form_right fl">
                  <div class="year_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_year" placeholder="Year" title="">
                      <span id="year_required" class="hide_error_message error_message">Please select Year.</span>
                          <!-- <span class="grey_text">Year</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="brand_name_select" name="language"> 
                          <option>2015</option>
                          <option>2014</option>
                          <option>2013</option>
                          <option>2012</option>
                          </select> -->
                  </div> <!-- year_div -->
              </div> <!-- brand_name_dropdown_field -->
              <div class="clear_both"></div>
          </div> <!-- year_name_part -->
          <div class="kms_driven_part">
              <div class="brand_name_text form_left">
                <span>Kms Driven</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="kms_input form_right">
                  <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="kms_driven" type="text" class="form-control kms_input_field" placeholder="Kms">
                  <span id="kms_driven_required" class="hide_error_message error_message">Please enter Kms Driven.</span>
              </div> <!-- kms_input form_right -->
          </div> <!-- kms_driven_part -->
          <div class="item_color_part">
              <div class="brand_name_text form_left">
                <span>Color</span>
                <!-- <span class="mandatory">*</span> -->
              </div> <!-- brand_name_text -->
              <div class="brand_name_dropdown_field form_right">
                  <div class="color_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_color" placeholder="Color" title="type &quot;a&quot;">
                          <!-- <span class="grey_text">Color</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="brand_name_select" name="language"> 
                          <option>Biege</option>
                          <option>Black</option>
                          <option>Blue</option>
                          <option>Golden</option>
                          </select> -->
                  </div> <!-- color_div -->
              </div> <!-- brand_name_dropdown_field -->
          </div> <!-- item_color_part -->
          <div class="fuel_type_part">
              <div class="brand_name_text form_left">
                  <span>Fuel Type</span>
                  <!-- <span class="mandatory">*</span> -->
              </div> <!-- brand_name_text -->
              <div class="brand_name_dropdown_field form_right">
                  <div class="fuel_type_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_fuel_type" placeholder="Fuel Type" title="type &quot;a&quot;">
                          <!-- <span class="grey_text">Fuel Type</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="brand_name_select" name="language"> 
                          <option>CNG</option>
                          <option>Diesel</option>
                          <option>Electric</option>
                          <option>Hybrid</option>
                          </select> -->
                  </div> <!-- fuel_type_div -->
              </div> <!-- brand_name_dropdown_field -->
          </div> <!-- fuel_type_part -->
          <div class="owners_part">
              <div class="brand_name_text form_left">
                <span>Number of Owners</span>
                <!-- <span class="mandatory">*</span> -->
              </div> <!-- brand_name_text -->
              <div class="brand_name_dropdown_field form_right">
                  <div class="owners_div">
                      <input class="custom_dropdown_brand_name" id="autocomplete_owners" placeholder="Number of Owners" title="type &quot;a&quot;">
                          <!-- <span class="grey_text">Number of Owners</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="brand_name_select" name="language"> 
                          <option>One</option>
                          <option>Two</option>
                          <option>Three</option>
                          </select> -->
                  </div> <!-- owners_div -->
              </div> <!-- brand_name_dropdown_field -->
          </div> <!-- owners_part -->
          <div class="insurance_valid_part">
              <div class="brand_name_text form_left">
                <span>Insurance Valid Till</span>
                <!-- <span class="mandatory">*</span> -->
              </div> <!-- model_name_text -->
              <div class="insurance_input form_right fl">
                  <input readonly="readonly" type="text" id="datepicker" class="form-control insurance_input_field" value="">
              </div> <!-- insurance_input form_right -->
              <div class="clear_both"></div>
          </div> <!-- insurance_valid_part -->
           <div class="your_city_part">
              <div class="brand_name_text form_left">
                <span>Your City</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="brand_name_dropdown_field form_right fl">
                  <div class="your_city_div">
                      <!-- <span class="grey_text">Your City</span> -->
                        <!-- <i class="fa fa-caret-down"></i> 
                        <select class="brand_name_select" name="language"> 
                        <option>Agra</option>
                        <option>Ahmedabad</option>
                        <option>Adilabad</option>
                        <option></option>>Agartala</option>
                        </custom_selectt> -->
                        <input class="custom_dropdown_brand_name" id="autocomplete_city" placeholder="Your City" title="type &quot;a&quot;">
                        <span id="city_required" class="hide_error_message error_message">Please select City.</span>
                  </div> <!-- your_city_div -->
              </div> <!-- brand_name_dropdown_field -->
              <div class="clear_both"></div>
          </div> <!-- your_city_part -->
           <div class="your_locality_part">
              <div class="brand_name_text form_left">
                <span>Your Locality</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="brand_name_dropdown_field form_right fl">
                  <div class="">
                    <input class="custom_dropdown_brand_name" id="autocomplete_locality" placeholder="Your Locality" title="type &quot;a&quot;">
                    <span id="locality_required" class="hide_error_message error_message">Please select Locality.</span>
                      <!-- <span class="grey_text">Your Locality</span>
                        <i class="fa fa-caret-down"></i>
                      <select class="brand_name_select" name="language"> 
                          <option></option></select> -->
                  </div> <!-- custom_dropdown_brand_name -->
              </div> <!-- brand_name_dropdown_field -->
              <div class="clear_both"></div>
          </div> <!-- your_locality_part -->
          <div class="description_part">
              <div class="brand_name_text form_left">
                <span>Description</span>
                <span class="mandatory">*</span>
              </div> <!-- model_name_text -->
              <div class="description_textarea form_right fl">
                  <textarea id="description" class="description_box"></textarea></br>
                  <span id="description_required" class="hide_error_message error_message">Please enter Description.</span>
              </div> <!-- description_textarea form_right -->
              <div class="clear_both"></div>
          </div> <!-- description_part -->

          <div class="seller_information">
              <h4>Seller Information</h4>
          </div> <!-- seller_information -->
          <div class="seller_detail">
            <div class="seller_detail_text form_left">
                <span>You are </span>
                <span class="mandatory">*</span> <!-- mandatory -->
            </div> <!-- seller_detail_text -->
            <div class="seller_detail_field form_right fl">
                <label class="required">
                    <input type="radio" lblname="Type of ad" value="individual" name="you_are">
                    Individual
                </label>
                <label class="required">
                    <input type="radio" lblname="Type of ad" value="dealer" name="you_are">
                    Dealer
                </label>
                <span id="you_are_required" class="hide_error_message error_message">Please make a selection.</span>
            </div> <!-- seller_detail_field -->
            <div class="clear_both"></div>
          </div> <!-- seller_detail -->
          <div class="seller_name_part">
                <div class="brand_name_text form_left">
                    <span>Your Name</span>
                </div> <!-- model_name_text -->
                <div class="name_input form_right fl">
                    <input type="text" class="form-control kms_input_field">
                </div> <!-- name_input form_right -->
                <div class="clear_both"></div>
          </div> <!-- seller_name_part -->
          <div class="seller_email_part">
                <div class="brand_name_text form_left">
                    <span>Your email</span>
                    <span class="mandatory">*</span>
                </div> <!-- brand_name_text -->
                <div class="email_input form_right fl">
                    <input id="email" type="text" class="form-control kms_input_field">
                    <span id="email_required" class="hide_error_message error_message">Please enter email.</span>
                    <span id="valid_email_required" class="hide_error_message error_message">Please enter valid email address.</span>
                </div> <!-- email_input form_right -->
                <div class="clear_both"></div>
          </div> <!-- seller_email_part -->
          <div class="seller_mobile_number_part">
                <div class="brand_name_text form_left">
                    <span>Your Mobile No.</span>
                    <!-- <span class="mandatory">*</span> -->
                </div> <!-- brand_name_text -->
                <div class="mobile_no_input form_right fl">
                    <span>+91 - </span>
                    <input type="text" id="mobile_no" class="form-control kms_input_field" placeholder="Enter 10 digit mobile number" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" onkeypress="isValidMobileNo();">
                </div> <!-- mobile_no_input form_right -->
                <div class="clear_both"></div>
          </div> <!-- seller_mobile_number_part -->
          <div class="privacy_check_part">
            <div class="privacy_check_text form_left">
              <i class="fa fa-lock"></i>
            </div> <!-- privacy_check_text form_left -->
            <div class="privacy_check_field form_right fl">
              <input id="usrprivacypostad" type="checkbox" value="adprivacy" name="usrprivacypostad">
              <span class="my_privacy">
            Maintain my Privacy (Buyers will first contact you via Quikr Chat, you can decide when to reveal your phone number to them)
        </span>
            </div> <!-- form_right -->
            <div class="clear_both"></div>
          </div> <!-- privacy_check_part -->
          <div class="premium_ad_part">
            <div class="premium_ad_head_part">
              <div class="premium_ad_head premium_ad_left_part">
                <h4>Make Your AD Premium</h4>
                <a href=""><sup>What is a premium AD ?</sup></a>
              </div> <!-- premium_ad_head premium_ad_left_part -->
              <div class="premium_ad_credits premium_ad_right_part fl">
                <a href=""><sup>Buy Premium AD Credits</sup></a>
              </div> <!-- premium_ad_credits premium_ad_right_part -->
              <div class="clear_both"></div>
            </div> <!-- premium_ad_head_part -->
            <div class="premium_ad_content">
              <div class="ad_content_field premium_ad_left_part">
                <div class="premium_ad_visible_part">
                    <input id="highlightchk1" class="adtypesel" type="checkbox" value="H" name="highlightchk1">
              <strong class="urgent_ad">Urgent Ad - </strong>
              <a class="view_example" href="">View Example</a>
          </div> <!-- premium_ad_visible_part -->
          <div class="premium_ad_hidden_part" id="premium_ad_hidden_part1">
            <div class="custom_dropdown_brand_name">
                          <span class="grey_text">Use multiple Ads to get discounts</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="hidden_part_select" name="language"> 
                              <option>Buy 10 Ads to get 1% off</option>
                              <option>Buy 50 Ads to get 5% off</option>
                              <option>Buy 100 Ads to get 10% off</option>
                              <option>Buy 200 Ads to get 20% off</option>
                          </select>
                      </div> <!-- custom_dropdown_brand_name -->
                      <label class="required1">
                      <input type="radio" lblname="Type of ad" value="offer" name="Ad_Type">
                      online
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Type of ad" value="want" name="Ad_Type">
                      check
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Type of ad" value="want" name="Ad_Type">
                      Pay using Ad credits
                    </label>
                    <div class="required1">
                      <label class="">
                        <input type="radio" lblname="Type of ad" value="want" name="Ad_Type">
                        Pay using points
                      </label>
                      <a class="view_example" href=""> Whats this?</a>
                    </div>
          </div> <!-- premium_ad_hidden_part -->
        </div> <!-- ad_content_field  premium_ad_left_part -->
        <div class="ad_priice_field premium_ad_right_part fl">
          <span class="per_ad">Rs.0 per AD</span>
        </div> <!--ad_priice_field  premium_ad_right_part -->
        <div class="clear_both"></div>
            </div> <!-- premium_ad_content -->
            <div class="premium_ad_content">
              <div class="ad_content_field premium_ad_left_part">
                <div class="premium_ad_visible_part">
                    <input id="highlightchk2" class="adtypesel" type="checkbox" value="H" name="highlightchk2">
              <strong class="urgent_ad">Top of the page Ad - </strong>
              <a class="view_example" href="">View Example</a>
          </div> <!-- premium_ad_visible_part -->
          <div class="premium_ad_hidden_part" id="premium_ad_hidden_part2">
            <div class="custom_dropdown_brand_name">
                          <span class="grey_text">Use multiple Ads to get discounts</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="hidden_part_select" name="language"> 
                              <option>Buy 10 Ads to get 1% off</option>
                              <option>Buy 50 Ads to get 5% off</option>
                              <option>Buy 100 Ads to get 10% off</option>
                              <option>Buy 200 Ads to get 20% off</option>
                          </select>
                      </div> <!-- custom_dropdown_brand_name -->
                      <label class="required1">
                      <input type="radio" lblname="Top of page" value="" name="Ad_Type1">
                      online
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Top of page" value="" name="Ad_Type1">
                      check
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Top of page" value="" name="Ad_Type1">
                      Pay using Ad credits
                    </label>
                    <div class="required1">
                      <label class="">
                        <input type="radio" lblname="Top of page" value="" name="Ad_Type1">
                        Pay using points
                      </label>
                      <a class="view_example" href=""> Whats this?</a>
                    </div>
          </div> <!-- premium_ad_hidden_part -->
        </div> <!-- ad_content_field  premium_ad_left_part -->
        <div class="ad_priice_field premium_ad_right_part fl">
          <span class="per_ad">Rs.0 per AD</span>
        </div> <!--ad_priice_field  premium_ad_right_part -->
        <div class="clear_both"></div>
      </div><!-- premium_ad_content -->
      <div class="premium_ad_content">
        <div class="ad_content_field premium_ad_left_part">
                <div class="premium_ad_visible_part">
                    <input id="highlightchk3" class="adtypesel" type="checkbox" value="H" name="highlightchk3">
              <strong class="urgent_ad">Top of the page Ad + Urgent Ad - </strong>
              <a class="view_example" href="">View Example</a>
          </div> <!-- premium_ad_visible_part -->
          <div class="premium_ad_hidden_part" id="premium_ad_hidden_part3">
            <div class="custom_dropdown_brand_name">
                          <span class="grey_text">Use multiple Ads to get discounts</span>
                          <i class="fa fa-caret-down"></i>
                          <select class="hidden_part_select" name="language"> 
                              <option>Buy 10 Ads to get 1% off</option>
                              <option>Buy 50 Ads to get 5% off</option>
                              <option>Buy 100 Ads to get 10% off</option>
                              <option>Buy 200 Ads to get 20% off</option>
                          </select>
                      </div> <!-- custom_dropdown_brand_name -->
                      <label class="required1">
                      <input type="radio" lblname="Top & Urgent" value="" name="Ad_Type2">
                      online
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Top & Urgent" value="" name="Ad_Type2">
                      check
                    </label>
                    <label class="required1">
                      <input type="radio" lblname="Top & Urgent" value="" name="Ad_Type2">
                      Pay using Ad credits
                    </label>
                    <div class="required1">
                      <label class="">
                        <input type="radio" lblname="Top & Urgent" value="" name="Ad_Type2">
                        Pay using points
                      </label>
                      <a class="view_example" href=""> Whats this?</a>
                    </div>
          </div> <!-- premium_ad_hidden_part -->
        </div> <!-- ad_content_field  premium_ad_left_part -->
        <div class="ad_priice_field premium_ad_right_part fl">
          <span class="per_ad">Rs.0 per AD</span>
        </div> <!--ad_priice_field  premium_ad_right_part -->
        <div class="clear_both"></div>
            </div> <!-- premium_ad_content -->
            <div>
              <div class="fr"></div>
              <div class="fr payable_amount_div">
                <span  class="payable_amount">Payable Amount : Rs 0
                  <sup class="red_hash">#</sup>
                </span>
                </br>
                <span class="exclusive">
                  <sup class="red_hash">#</sup> 
                  Price is exclusive of 12.36% service tax.
                </span>
              </div> <!-- payable_amount_div -->
              <div class="clear_both"></div>
            </div>
          </div> <!-- premium_ad_part -->
          <div class="privacy_policy">
              <span><input id="usrprivacypostad" type="checkbox" name="usrprivacypostad" value="adprivacy"></span>
        <span class="privacy_policy_span"> 
          Send me Quikr Email/SMS Alerts for people looking to buy cars in Www </br>
          By clicking "Post", you agree to our Terms of Use & Privacy Policy.
        </span>
      </div> <!-- privacy_policy -->
      <div class="post_button_div">
              <div id="postbtn_container">
          <button id="post_button" class="postbtn">
            <span>Post</span>
          </button>
        </div> <!-- postbtn_container -->
          </div> <!-- post_button_div -->
          </div>
        </div> <!-- right_part right_product_form_part -->
    </div> <!-- container center -->
      
        
    <div class="footer_image f_img">
      <code></code>
    </div> <!-- footer_image -->
    <div class=" final_part f_part">
      <div class="container">
        <div class="row row_4">
          <div class="col-md-2">
                           <ul> 
                            <li><a href="" class="footer">Help</a></li>
                            <li><a href="" class="footer">Terms of use</a></li>
                            <li><a href="" class="footer">How it works</a></li>
                            </ul>
          </div>
          <div class="col-md-2">
                           <ul> 
                            <li><a href="" class="footer">Privacy policy</a></li>
                            <li><a href="" class="footer">Locations map</a></li>
                            <li><a href="" class="footer">Contact us</a></li>
                            </ul>
          </div>
          <div class="col-md-2">
                            <ul>
                            <li><a href="" class="footer">Popular searches</a></li>
                            <li><a href="" class="footer">who we are</a></li>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4 foot"><span class="footer1">you can also call our support team<br>
                            <span class="phone">phone:65-67119979</span><br>M-F:10AM to 6PM<br>
                            <a href="#facebook"><i class="fa fa-facebook-official"></i></a>
                            <a href="#linkedin"><i class="fa fa-linkedin-square"></i></a>
                            <a href="#twitter"><i class="fa fa-twitter-square"></i></a>
                            </span>
          </div>
        </div> <!-- row4 -->
      </div> <!-- container-->
    </div> <!-- final_part -->
  </body>
 </html> 