
{% extends "base.html" %}
{% block content %}

<!-- <ul>
{% for categories in category %}
<li><a id="id_category"><input type="hidden" value="{{categories.id}}" name="fruitId" id="fruitId">{{categories.name}}</a></li>

{% endfor %}
</ul> -->

<ul>
{% for categories in category %}
<div class="id_category">
<li><a><input type="hidden" value="{{categories.id}}" name="fruitId" id="fruitId">{{categories.name}}</a></li>
</div>
{% endfor %}
</ul>


<div class="id_subcategory">
<li></li>
</div>
<li id="id_subcategory"><input type="text" value=""></li>
{% endblock %}