

<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>Quikr</title>
</head>
 
<body>
 
<div class="container">
	
	
	{% if 'categorypage' in path %}
	<h2>Select a category:</h2>
	
	
	{% for categories in category %}
        <div class="category">
        <table border=0>
        	
        	<tr>
        		<td style="height: 20px; width:50px;">
        			<a href="/addproduct/"><img src="{{ categories.icon }}"></a>
        			
        			
        		</td>
        		
        		<td style="height: 20px; width:200px;">
        			<a href="/subcategory/{{categories.id}}" style="text-decoration: none;">{{ categories.name }}</a>
        		</td>
        		
        	</tr>
        	
        </table>
        
        
        </div>
        
      
       
    {% endfor %}
    
    {% else %}
    
   
    <div>
    	{%for subcategories in subcategory%}
    	<table>
    		<tr>
    			<td>
    				<a href="/postad/{{subcategories.id}}" style="text-decoration: none;">{{subcategories.name}}</a>
    			</td>
    		</tr>
    	</table>
    		
    	{% endfor %}
    	
    </div>
    
    {% endif %}
    
    
</div>
 
</body>
     
</html>