pip install Django==1.4.3
pip install django-social-auth==0.7.17
pip install pyelasticsearch==0.5
pip install django-haystack==2.0.0
pip install django-thumbnailfield
pip install curl 
pip install django-pagination==1.0.7
pip install django-paypal==0.1.2
pip install django-oauth-plus==2.0
pip install django-smtp-ssl==1.0
pip install django-social-auth==0.7.17
pip install oauth2==1.5.211
pip install requests==2.0.1
pip install DjangoSEO
pip install elasticstack

 



















PIL
