{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %} 
{%block page_swap%}
    <span>
      <a href="/" class="previous_page2">Back to my search results</a>
      {% if 'ads' in path %}
      <i class="fa fa-angle-right right"></i>
      <a href="/search/?q=" class="previous_page1">{{adinfo.category}}</a>
      <i class="fa fa-angle-right right"></i>
      <a href="/search/?q=" class="current_page">{{adinfo.subcategory}}</a>
      {% endif %}
    </span>
{%endblock%}
{%block content%}
  <div class="row row-1">
        <div class="col-md-6 first-column">
              <div class="column-height">
                <div>
                  <h3>{{adinfo.title}}</h3>
                  <span class="Ad-ID">Ad ID:{{adinfo.id}} | {{adinfo.created_date}} | 19 views</span>
                </div>
                <div class="product-details">
                  <div>
                  <h3>Product Details<span class="price">{{adinfo.price|conversion}}</span></h3>  
                  </div>
                  <div class="product_owner_details">
                    <p class="line_style"><span class="field_name fl">Category</span><span>:</span>
                    <span class="parallel_line">{{adinfo.category}}</span></p>
                    <p><span class="field_name fl">SubCategory</span><span>:</span>
                    <span class="parallel_line">{{adinfo.subcategory}}</span></p>
                    <p class="line_style"><span class="field_name fl">Brand</span><span>:</span>
                    <span class="parallel_line">{{adinfo.ad_brand}}</span></p>
                    <p><span class="field_name fl">Located In</span><span>:</span>
                    <span class="parallel_line">{{adinfo.city}}</span></p>
                    <p class="line_style"><span class="field_name fl">Posted By</span><span>:</span>
                    <span class="parallel_line">{{adinfo.you_are}}</span></p>
                  </div>
                </div>
              </div>
            
              <div class="contact-seller">
                <h3 class="seller">Contact Seller</h3>
                <div class="owner_contact">
                    <p class="owner_name">
                    {% if adinfo.userprofile %}
                    {{adinfo.userprofile.user.email}}
                    {% else %}
                    Anonymous
                    {% endif %}
                    </p>
                    <p class="owner_number">
                    {% if adinfo.you_phone %}
                    {{adinfo.you_phone}}
                    {% endif %}
                    </p>
                    <!-- <span class="number_verify_1"><i class="fa fa-check-circle"></i> Number verified</span></p>
                    <p>{{adinfo.you_phone}}<span class="reply"><a href="" class="btn btn-default replybutton">REPLY</a></span></p> -->
                </div>
                <!-- <span>Send free SMS <i class="fa fa-caret-down caret-down"></i>
                        <div class="login_holder">
                  <form id="login_form" method="post" action="">
                    Number: <input type="text" name="username" value="" size="30" />
                    <br /><br />
                    <input type="submit" value="send" />
                    </form>
                  </div>
                </span> -->
              </div>
            
              <div class="description_box">
                <h3>Description</h3>
                <p>{{adinfo.description}}
                </p>
              </div>
        </div> <!-- first-column -->
        <div class="col-md-6 second-column">
              <div class="other-buttons">
                <span href="" class="btn btn-default share_button"> Share
                <i class="fa fa-share-alt"></i></span>
                <span href="" class="btn btn-default favourite_button"> Add as favourite
                <i class="fa fa-heart"></i></span>
              </div>

              <div class="fbtwtbutton">
                  <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    </script>
                  
                    <div class="fb-share-button but" id="fbid1" data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon" ></div>
            
                    <a href="https://twitter.com/share" class="twitter-share-button" id="twtid1" data-count="none" data-dnt="true">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                    </script>
              </div>

              <div class="product-image">
                    <div class="upperimg">
                      {% if largephoto = '' %}
                          <img src="/static/img/bg-img1.png">
                      {% else %}
                        <img src="{{ STATIC_ROOT }}/{{ largephoto }}">
                      {% endif %}
                    </div><!--upperimg-->
                    <div class="thumb_holder">
                      {%for photo in photos %}
                        <div class="thumbs nb col-md-2">  
                           {% if photo = '' %}
                           <img src="/static/img/bg-img1.png">  
                           {% else %}  
                          <img src="{{ STATIC_ROOT }}/{{ photo }}">
                          {% endif %}
                        </div><!--thumbs-->
                      {%endfor%}
                    </div><!-- thumb_holder -->
          
                    <!-- <div class=""></div> -->
                    <!-- <div class="thumbnails1">
                      <a href=""><img class="img1"src="img/Product_pic1.png"></a>
                    </div>
                    <div class="thumbnails2">
                      <a href=""><img class="img2"src="img/Product_pic2.png"></a>
                    </div> -->
                    <div class="div">
                       <i class="fa fa-camera"></i><span>{{adinfo.imagecount}}</span>
                    </div>
              </div>      
        </div> <!-- second-column --> 
  </div> <!-- row-1 -->   

{% if adinfo.video|get_videos %}
  <div class="container">
    <iframe class="fl" width="500" height="315" src="{{adinfo.video|get_videos}}" frameborder="0" allowfullscreen></iframe>
      <div class="safety_tips fl">
        <h3>Safety Tips for Buyers</h3><br>
        <span>Meet seller at safe location</span><br>
        <span>Check the item before you buy</span><br>
        <span>Pay only after collecting items</span><br>
        <i class="fa fa-shield shield"></i>
      </div>
      <div class="clear_both"></div>
  </div>  
{% endif %} 
    <div class="container recommend1">
     {% if related_product %}
        <div class="recommended">
          <span>Recommended</span>
        </div>
     {% endif %}   
      <div class="row row2">
        <div class="col-md-8">
          {% if related_product %}
              <ul class="product1"> 
                {% for related_products in related_product|slice:":5" %}
                <li class="product_list1">
                   <div class="product_images1">
                      <a href="" class="">
                        <div class="count_holder1">
                        {% if related_products.object.photos = '' %}
                        <img src="/static/img/bg-img1.png">
                        {% else %}
                        <img src="{{STATIC_ROOT}}/{{related_products.object.photos|get_photos}}">
                        {% endif %}
                        <span>{% if not related_products.object.imagecount %}0{% else %}{{related_products.object.imagecount}} {%endif%}</span>
                        <i class="fa fa-camera"></i>
                        </div>
                      </a>
                    </div>
                          
                    <div class="details">
                        <div class="product_name1">  
                            <a href="" class="spans"> {{related_products.object.title}}</a>
                            <span class="product_description1">{{related_products.object.description}}
                            </span>
                            <span class="model_year1"> {{related_products.object.condition}} | in {{related_products.object.city}} | By {{related_products.object.you_are}}</span>
                            <span class="year">{{related_products.object.created_date}}</span>
                        </div>
                        <div class="additional_details">
                          <h3>$ {{related_products.object.price}}</h3>
                          <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle"></i></span>
                          <a href="" class="btn btn-default contact_button">Contact</a>
                        </div>  
                    </div> <!-- details -->
                  </li>
                {% endfor %}
              </ul>
        {% endif %}
        </div> <!-- col-md-8 -->
        <div class="col-md-4 column-ad">
            <div class="adv_part">
              <a href="" class=""><code></code></a>
            </div>
        </div>
        {% if recommendresults %}
            <div class="col-md-4 column-ad">
              <div class="adv_part">
                <a href="" class=""><code></code></a>
              </div>
            </div> 
        {% else %}
            <div class="container fifth_part">
              <div class="hp_ad banner_ad">
                <ul class="fifth_part">
                  {% for banners in banner|get_banner %}
                  {% if banners.pageurl == '/' and banners.position == 'bottom' %}
                    <li><a class="bannerlink" href="{{banners.link}}" class=""><img class="bannerimage" src="../../{{banners.banner}}" style="height:120px;width:970px;"></a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div> <!-- hp ad -->
            </div> <!-- container fifth_part-->
        {% endif %}  
      </div> <!-- row row2 -->
    </div> <!-- container -->
{% endblock %}