{% extends 'base.html' %}

{% block content %}

<div class="row row_1">
     
        
      <div class="col-md-4">
            <ul class="category2">
        
          <li class="subcategory">
            <!-- <div class="product_image"><a href="{% url product_detail adinfo.id %}" class=""><img src="{{ STATIC_ROOT }}/{{ adinfo.thumbnail }}"></a></div>
            <a href="{% url product_detail adinfo.id %}" class=""><h4>{{ adinfo.title }}</h4></a>

            <h4>{{ adinfo.price }}</h4> -->

            <div>
              <h2> Product Deatils </h2>



              <a href="{% url product_detail adinfo.id %}" class=""><h4>{{ adinfo.title }}</h4></a>

              </div>
              
                   <p>
                   <div class="product_image"><a href="{% url product_detail adinfo.id %}" class=""><label>Photo:<img src="{{ STATIC_ROOT }}/{{ adinfo.photos }}"></a></div>
                   </p>

             
                   <p>
                   <label>Price: ${{adinfo.price}}
                   </p>

                   <p>
                   <label>Locality:{{adinfo.locality}}
                   </p>

                   <p>
                   <label>Condition:{{adinfo.condition}}</label>
                   </p>

                    <p>
                    <label>Posted by:{{adinfo.you_are}}</label>
                   </p>

                    <p>
                    <label>User name:{{adinfo.you_name}}</label>
                   </p>

                    <p>
                    <label>Locality:{{adinfo.you_phone}}</label>
                   </p>

                    <p>
                    <label>Created date:{{adinfo.created_date}}</label>
                   </p>


                   <p>
                   <div class=""><a href="{% url product_detail adinfo.id %}" class=""><label>Photo:<img src="{{ STATIC_ROOT }}/{{ adinfo.thumbnail }}"></a></div>
                   </p>

                   <p>
                    <label>Description:{{adinfo.description}}</label>
                   </p>
 
                    {% if adinfo.subcategory_id == 1 %}

                    <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>

                   <p>
                   <label>Model: {{ad_model.model_name}}</label>
                   </p>

                   <p>
                   <label>Year: {{adinfo.year}}</label>
                   </p>

                   <p>
                   <label>Color: {{adinfo.color}}</label>
                   </p>

                   <p>
                   <label>Fuel Type: {{ad_type.type_name}}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 2 %}

                   <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>

                   <p>
                   <label>Model: {{ad_model.model_name}}</label>
                   </p>

                    <p>
                   <label>Year: {{adinfo.year}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 3 %}

                   <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>

                   <p>
                   <label>Model: {{ad_model.model_name}}</label>
                   </p>

                    <p>
                   <label>Year: {{adinfo.year}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 4 %}

                   <p>
                   <label>Bicycle Type: {{ad_type.type_name}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 5 %}

                   <p>
                   <label>Spare Product: {{ad_type.type_name}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 6 %}

                   <p>
                   <label>Bus Vehicle_type: {{ad_type.type_name}}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 7 %}

                   <p>
                   <label>Construction Vehicle_type: {{ad_type.type_name }}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 8 %}

                   <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>

                   <p>
                   <label>Model: {{ad_model.model_name}}</label>
                   </p>

                   <p>
                   <label>Operating System: {{ad_os.os}}</label>
                   </p>

                   <p>
                   <label>Sim: {{ad_sim.sim}}</label>
                   </p>

                   <p>
                   <label>Also include: {{ad_alsoinclude.alsoinclude}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 9 %}

                   <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 10 %}

                   <p>
                   <label>Brand: {{adinfo.ad_brand}}</label>
                   </p>


                   <p>
                   <label>Type: {{ad_type.type_name}}</label>
                   </p>


                   {% endif %}
             </div>
            </li>
       
          </ul>
        </div> <!-- row1 2nd col-md-4 -->
       </div> <!-- row1 -->

       <h4>Recommended Results</h4>
<div class="row row_1">
     {% for recommendresult in recommendresults %}
        
      <div class="col-md-4">
            <ul class="category2">
        
          <li class="subcategory">
            <div class="product_image"><a href="{% url product_detail recommendresult.id %}" class=""><img src="{{ STATIC_ROOT }}/{{ recommendresult.photos }}"></a></div>
            <a href="{% url product_detail recommendresult.id %}" class=""><h4>{{ recommendresult.title }}</h4></a>

            <h4>{{ recommendresult.price }}</h4>
            
            </li>
       
          </ul>
        </div> <!-- row1 2nd col-md-4 -->
       
       {% endfor %} 
</div> <!-- row1 -->
{% endblock %}
