<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet"> 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/index.less" rel="stylesheet/less" type="text/less">

    <script src="js/jquery.js"></script>  
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.slider.js"></script>
    <script src="js/jquery.easytabs.js"></script>
    <script src="js/jquery.switchButton.js"></script>
    <script src="js/base.js"></script>
    <script src="js/generate-phoneno.js"></script>
    <script src="js/form-actions.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/less.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/quikr_project.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
  </head>
  </head>
  <body>
    <div class="top_header"> 
      <div class="container">
        <nav class="navbar navbar-inverse navigation_bar logo_contain">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
           </button>
        </div> <!-- navbar header -->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                
                      <div class="custom_select language_custom_select">
                        <div class="select">
                          <p>English</p>
                        </div><!-- select -->
                        <i class="fa fa-caret-down"></i>


                        <select class="custom_select_value_act" name="language"> 
                          <option value="Select">Select</option>
                          <option value="English">English</option>
                          <option value="Hindi">Hindi</option>
                        </select>
                      </div><!-- custom_select -->
                </li>
              <li><a href="#" class="">Login</a></li>
              <li><a href="#" class="">Sign up</a></li>
            </ul>
          </div> <!-- navbar collapse -->
        </nav> <!-- navigation bar --> 
      </div><!-- container -->
    </div><!-- top_header -->
    <div class="search_part">
      <div class="container logo_part">
        <code></code>
            <form class="info_form">
                    <div class="button">
                        <i class="fa fa-search search_icon"></i>
                      <input type="text" class="form-control input-lg" placeholder="iPhone">
                    </div>
                      <button type="submit"class="btn btn-lg btn-success search_b">Search</button>
                  <button type="submit"class="btn btn-lg post-button">Post free Ad</button>
                  <button type="submit"class="btn btn-lg alert-button">Create free alert</button>
            </form> <!-- info_form -->
      </div> <!-- container logo_part -->
    </div> <!-- search_part -->
    <div class="page_swap">
      <div class="container page_back">
        <span>
          <a href="" class="previous_page2">Back to my search results</a>
          <i class="fa fa-angle-right right"></i>
          <a href="" class="previous_page1">Mobile phones</a>
          <i class="fa fa-angle-right right"></i>
          <a href="" class="current_page">iPhone</a>
        </span>
      </div>
    </div><hr>
    <div class="container center">
      <div class="left_part">
        <div class="refine_results">
          <h4>Refine Your Results</h4>
        </div> <!-- refine_results -->
        <div id="cssmenu">
            <ul>
              <li class='has-sub css_menu'><a href='#' class="has_sub"><span>All Categories</span></a>
                
                  <ul>
                    <li class='has-sub'><a href='#'  class="has_sub"><span>mobiles and tablets<span class="product_quantity">(3833)</span></span></a>
                        <ul class="sub_list sub_list1 ">
                            <li><a href="" class="has_sub">Mobile phones <span class="product_quantity">(3833)</span></a></li>
                            <li><a href="" class="has_sub">Accessories <span class="product_quantity">(3833)</span></a></li>
                        </ul> <!-- sub_list sub_list1-->
                    </li>
                     <li class='has-sub'><a href='#' class="has_sub"><span>Services<span class="product_quantity">(3833)
                     </span></span></a>
                        <ul class="sub_list sub_list1">
                          <li><a href="" class="has_sub">Everything Else <span class="product_quantity">(3833)</span></a></li>
                          <li><a href="" class="has_sub">Electronics-Appliances <span class="product_quantity">(3833)</span>
                          </a></li>
                        </ul> <!-- sub_list sub_list1-->
                        </li>
                        <li class='has-sub'><a href='#' class="has_sub"><span>Services<span class="product_quantity">(3833)
                     </span></span></a>
                        <ul class="sub_list sub_list1">
                          <li><a href="" class="has_sub">Everything Else <span class="product_quantity">(3833)</span></a></li>
                          <li><a href="" class="has_sub">Electronics-Appliances <span class="product_quantity">(3833)</span>
                          </a></li>
                        </ul> <!-- sub_list sub_list1-->
                        </li>
                        </ul>
                        
                    </li>

                  
       
              <li class='has-sub'><a href='#' class="has_sub"><span>Brand</span></a>
                <ul>
                    <li>
            <form>
              <input type="text" class="form-control type_field" placeholder="Type any brand"> 
            </form>           
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox1" checked="checked" />
                  <label for="checkbox1" name="checkbox1_lbl" class="css-label sme depressed">
                  <a href="">Apple</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox2" checked="checked" />
                  <label for="checkbox2" name="checkbox2_lbl" class="css-label sme depressed">
                  <a href="">Karbonn</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox3" checked="checked" />
                  <label for="checkbox3" name="checkbox3_lbl" class="css-label sme depressed">
                  <a href="">Micromax</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox4" checked="checked" />
                  <label for="checkbox4" name="checkbox4_lbl" class="css-label sme depressed">
                  <a href="">Nokia</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox5" checked="checked" />
                  <label for="checkbox5" name="checkbox5_lbl" class="css-label sme depressed">
                  <a href="">Samsung</a></label>
            </form>
            
            </li>
            </ul>
            </li>
            
              <li class='has-sub'><a href='#' class="has_sub"><span>Used / New</span></a>
                <ul>
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox6" checked="checked" />
                  <label for="checkbox6" name="checkbox6_lbl" class="css-label sme depressed">
                  <a href="">Used</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox7" checked="checked" />
                  <label for="checkbox7" name="checkbox7_lbl" class="css-label sme depressed">
                  <a href="">New</a></label>
            </form>
            </ul>
            </li>
           
              <li class='has-sub'><a href='#' class="has_sub"><span>Price Range</span></a>
                <ul>
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox8" value="adprivacy" name="usrprivacypostad">
                  <label for="checkbox8" name="checkbox8_lbl" class="css-label sme depressed">
                  <a href="">S$500 & below</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox9">
                  <label for="checkbox9" name="checkbox9_lbl" class="css-label sme depressed">
                  <a href="">S$500-S$1000</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox10">
                  <label for="checkbox10" name="checkbox10_lbl" class="css-label sme depressed">
                  <a href="">S$1000-S$1500</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox11">
                  <label for="checkbox11" name="checkbox11_lbl" class="css-label sme depressed">
                  <a href="">S$1500-S$2000</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox12">
                  <label for="checkbox12" name="checkbox12_lbl" class="css-label sme depressed">
                  <a href="">S$2000 & Above</a></label>
            </form>
            </ul>
            </li>
            </ul>
            </div>
      </div> <!-- left_part -->
      <div class="right_part">
        <div class="top_part">
          <p>1-25 of 4046 Results</p>
          <div class="sort_part">
              <span>Sort by</span>
              <div class="custom_select sorting_custom_select">
                        <div class="select">
                            <p>Popularity</p>
                        </div><!-- select -->
                        <i class="fa fa-caret-down new_icon"></i>
                        
                        <select class="custom_select_value_act option_color" name="language"> 
                            <option value="Select">Select</option>
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                        </select>
              </div><!-- custom_select -->
          </div> <!-- sort_part -->
        </div> <!-- top_part -->
        <div class="">
          <ul class="product1">
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
           <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    <a href="" class="">
                    <img>
                    <div class="count_holder1">
                        <span>12</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="" class="spans"> Apple iphone 4s white...</a>
                      <span class="product_description1"> Apple iphone 2011 model,iphone software,camera...
                      </span>
                      <span class="additional_description">Camera internet</span>
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">25-Dec-14</span>
                  </div>
                  <div class="additional_details">
                    <h3>S$1040.00</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="bottom_part">
          <p>1-25 of 4046 Results</p>
          <div>
            <ul class="pagination">
              <li><a href="#"><i class="fa  fa-angle-double-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><i class="fa  fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div> <!-- bottom_part -->
      </div> <!-- right_part -->
    </div> <!-- container -->
    <div class="footer_image f_img">
      <code></code>
    </div> <!-- footer_image -->
    <div class=" final_part f_part">
      <div class="container">
        <div class="row row_4">
          <div class="col-md-2">
                           <ul> 
                            <li><a href="" class="footer">Help</a></li>
                            <li><a href="" class="footer">Terms of use</a></li>
                            <li><a href="" class="footer">How it works</a></li>
                            </ul>
          </div>
          <div class="col-md-2">
                           <ul> 
                            <li><a href="" class="footer">Privacy policy</a></li>
                            <li><a href="" class="footer">Locations map</a></li>
                            <li><a href="" class="footer">Contact us</a></li>
                            </ul>
          </div>
          <div class="col-md-2">
                            <ul>
                            <li><a href="" class="footer">Popular searches</a></li>
                            <li><a href="" class="footer">who we are</a></li>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4 foot"><span class="footer1">you can also call our support team<br>
                            <span class="phone">phone:65-67119979</span><br>M-F:10AM to 6PM<br>
                            <a href="#facebook"><i class="fa fa-facebook-official"></i></a>
                            <a href="#linkedin"><i class="fa fa-linkedin-square"></i></a>
                            <a href="#twitter"><i class="fa fa-twitter-square"></i></a>
                            </span>
          </div>
        </div> <!-- row4 -->
      </div> <!-- container-->
    </div> <!-- final_part -->
  </body>
 </html> 