{% extends request.is_ajax|yesno:"base_ajax.html,base_search.html" %}

{%if not request.is_ajax%}
{%block page_swap%}   
  <span>
    <a href="/" class="previous_page2">Back to my search results</a>
    <i class="fa fa-angle-right right"></i>
    {%if query%}
    <!-- {% for product in page.object_list%}
    <a href="" class="previous_page1">{{product.category}}</a>
    {% endfor %} -->
    
    <i class="fa fa-angle-right right"></i>
    <a href="" class="current_page">{{query}}</a>
    {%else%}
    <a href="" class="current_page">All Results</a>
    {%endif%}
  </span>
  <form id="form_search_filter" class="form_search_filter" style="position:relative;">
        <input id="search_form" type="hidden" name="{{form.q.html_name}}"  value="{{form.q.value|default:''}}"/>
        <input type="hidden" name="page"  value="{{page.number}}"/>
        <input type="hidden" name="newsearch"  value="new"/>
</form>
{%endblock%}   

{%block search_results%}
<div class="left_part">
        <div class="refine_results">
          <h4>Refine Your Results</h4>
        </div> <!-- refine_results -->
        <div id="cssmenu">
            <ul>
              <li class='has-sub css_menu'><a href='#' class="has_sub"><span>All Categories</span></a>
                
                  <ul>
                  {% for categories in category %}
                    <li class='has-sub'><a href='#'  class="has_sub"><span>{{categories.name}}<span class="product_quantity">(3833)</span></span></a>
                        <ul class="sub_list sub_list1 ">
                            <li><a href="" class="has_sub">Mobile phones <span class="product_quantity">(3833)</span></a></li>
                            <li><a href="" class="has_sub">Accessories <span class="product_quantity">(3833)</span></a></li>
                        </ul> <!-- sub_list sub_list1-->
                    </li>
                    {% endfor %}
                     <li class='has-sub'><a href='#' class="has_sub"><span>Services<span class="product_quantity">(3833)
                     </span></span></a>
                        <ul class="sub_list sub_list1">
                          <li><a href="" class="has_sub">Everything Else <span class="product_quantity">(3833)</span></a></li>
                          <li><a href="" class="has_sub">Electronics-Appliances <span class="product_quantity">(3833)</span>
                          </a></li>
                        </ul> <!-- sub_list sub_list1-->
                        </li>
                        <li class='has-sub'><a href='#' class="has_sub"><span>Services<span class="product_quantity">(3833)
                     </span></span></a>
                        <ul class="sub_list sub_list1">
                          <li><a href="" class="has_sub">Everything Else <span class="product_quantity">(3833)</span></a></li>
                          <li><a href="" class="has_sub">Electronics-Appliances <span class="product_quantity">(3833)</span>
                          </a></li>
                        </ul> <!-- sub_list sub_list1-->
                        </li>
                        </ul>
                        
                    </li>

                  
       
              <li class='has-sub'><a href='#' class="has_sub"><span>Brand</span></a>
                <ul>
                    <li>
            <form>
              <input type="text" class="form-control type_field" placeholder="Type any brand"> 
            </form>           
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox1" checked="checked" />
                  <label for="checkbox1" name="checkbox1_lbl" class="css-label sme depressed">
                  <a href="">Apple</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox2" checked="checked" />
                  <label for="checkbox2" name="checkbox2_lbl" class="css-label sme depressed">
                  <a href="">Karbonn</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox3" checked="checked" />
                  <label for="checkbox3" name="checkbox3_lbl" class="css-label sme depressed">
                  <a href="">Micromax</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox4" checked="checked" />
                  <label for="checkbox4" name="checkbox4_lbl" class="css-label sme depressed">
                  <a href="">Nokia</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox5" checked="checked" />
                  <label for="checkbox5" name="checkbox5_lbl" class="css-label sme depressed">
                  <a href="">Samsung</a></label>
            </form>
            
            </li>
            </ul>
            </li>
            
              <li class='has-sub'><a href='#' class="has_sub"><span>Used / New</span></a>
                <ul>
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox6" checked="checked" />
                  <label for="checkbox6" name="checkbox6_lbl" class="css-label sme depressed">
                  <a href="">Used</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox7" checked="checked" />
                  <label for="checkbox7" name="checkbox7_lbl" class="css-label sme depressed">
                  <a href="">New</a></label>
            </form>
            </ul>
            </li>
           
              <li class='has-sub'><a href='#' class="has_sub"><span>Price Range</span></a>
                <ul>
            <form class="check_box">
                  <input type="checkbox" class="css-checkbox sme" id="checkbox8" value="adprivacy" name="usrprivacypostad">
                  <label for="checkbox8" name="checkbox8_lbl" class="css-label sme depressed">
                  <a href="">S$500 & below</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox9">
                  <label for="checkbox9" name="checkbox9_lbl" class="css-label sme depressed">
                  <a href="">S$500-S$1000</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox10">
                  <label for="checkbox10" name="checkbox10_lbl" class="css-label sme depressed">
                  <a href="">S$1000-S$1500</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox11">
                  <label for="checkbox11" name="checkbox11_lbl" class="css-label sme depressed">
                  <a href="">S$1500-S$2000</a></label>
                  <input type="checkbox" class="css-checkbox sme" id="checkbox12">
                  <label for="checkbox12" name="checkbox12_lbl" class="css-label sme depressed">
                  <a href="">S$2000 & Above</a></label>
            </form>
            </ul>
            </li>
            </ul>
            </div>
      </div> <!-- left_part -->

{%endblock%}
{%endif%}
{%block search_results1%}
<div class="fl filter_result_wrapper" id="search_result" style="position:relative;">      
      <div class="right_part">
      	{% if page and page.object_list %}
        <div class="top_part">
          <!-- <p>{{ page.number }} - {{page.paginator.num_pages}} of {{ page.object_list.count }} Results</p> -->
          <p>{{ page.number }} of {{page.paginator.num_pages}} Results</p>
          <div class="sort_part">
              <span>Sort by</span>
              <div class="custom_select sorting_custom_select">
                          <div class="select">
                            <p id="custom_select_value_act">Popularity</p>
                            <i class="fa fa-caret-down new_icon"></i>
                          </div> <!-- select -->
                          <select class="custom_select_value_act option_color" name="popularity">
                          <option value="English">Price</option>
                          <option value="Hindi">Date</option>
                          </select>
              </div><!-- custom_select -->
              
          </div> <!-- sort_part -->
        </div> <!-- top_part -->
        <div class="">
          <ul class="product1">
          	{% for product in page.object_list %}
                {% if product.object %}
               
                
            <li class="product_list1">
              <div class="product_images1 bg-img">
                    {% if product.object.photos = '' %}
                    <a href="{% url product_detail product.object.id %}"></a>
                    {% else %}
                    <a href="{% url product_detail product.object.id %}"><img src="{{ STATIC_ROOT }}/{{ product.object.photos|get_photos }}"></a>
                    {% endif %}
                    <div class="count_holder1">
                        <span>{{product.object.imagecount}}</span>
                        <i class="fa fa-camera"></i>
                    </div>
                    </a>
              </div>
              <div class="details">
                  <div class="product_name1">
                      <a href="{% url product_detail product.object.id %}" class="spans"> {{product.object.title}}</a>
                      
                      <span class="product_description1">{{product.object.description}}</span>
                      <!-- <span class="additional_description">{{product.object.description}}</span> -->
                      
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">{{product.object.created_date}}</span>
                  </div>
                  <div class="additional_details">
                    <h3>{{product.object.price}}</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Number verified<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a href="" class="btn btn-default contact_button contact-button"> contact</a>
                  </div>
              </div>
            </li>
            {%endif%}
            {% endfor %}
          </ul>
        </div>
        <div class="bottom_part">
           <p>{{ page.number }} of {{page.paginator.num_pages}} Results</p>
          <div class="pagination" id="pagination_filter">
            <ul class="pagination">
            
              <li>
              {% if page.has_previous %} 
              <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}">
              <i class="fa  fa-angle-double-left"></i></a> 
              {% endif %}
              </li>
              {% for p in page.paginator.page_range %}
              {% if p|add:5 >= page.number and p|add:-5 <= page.number %}
              <li {% if p == page.number %} class="active"{% endif %}>
              <a data-ajaxlink="true" data-ajaxpage="{{ p }}" href="?q={{request.REQUEST.q}}&page={{ p }}">
              {{ p }}
              </a>
              </li> 
              {% endif %}
              {% endfor %}
              
              <li>
              {% if page.has_next %} 
              <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}">
              <i class="fa  fa-angle-double-right"></i>
              </a> 
              {% endif %}
              </li> 
            
            </ul>
          </div>
        </div> <!-- bottom_part -->
        {%endif%}
      </div> <!-- right_part -->
{%if not request.is_ajax%}
</div><!--filter_result_wrapper-->
<div class="clear_both"> </div> 
{%endif%}
{%endblock%}

    