
{% block content %}
{%if not request.is_ajax%}
{{page.number}}
{{query}}
<form id="form_search_filter" class="form_search_filter" style="position:absolute;">
       
        <input id="search_form"type="hidden" name="{{form.q.html_name}}"  value="{{form.q.value|default:''}}"/>
        <input type="hidden" name="page"  value="{{page.number}}"/>
        <input type="hidden" name="newsearch"  value="new"/>
       
</form>
{% endif %}
<div class="container quikr_logo">
        <a href="/"><code></code></a>
        <h2 class="heading">Singapore's largest marketplace</h2>
        <form class="form" method="get" action="/search/?q=" id="f_search" name="f_search">
            <div class="form">
            
              <i class="fa fa-search"></i>
                {% if query or request.REQUEST.q or request.REQUEST.q == '' %}
                <!-- <label class="infield" for="q">What do you want to sell?</label>
                <span class="clearable" style="float:left;position: relative;"> -->
                <input type="text"  name="q" id="q" class="form-control input-lg" placeholder=""  value="{% if query %}{{ query }}{% elif request.REQUEST.q %}{{request.REQUEST.q}}{% elif request.REQUEST.q == '' %}{% else %}{% endif %}" />
                <!-- <span class="icon_clear">&#10006;</span>
                </span> -->
                {% else %}
                <!-- <label class="infield" for="q">What do you want to sell?</label>
                <span class="clearable" style="float:left;position: relative;"> -->
                <input type="text" name="q" id="q" class="form-control input-lg" placeholder=""  value="{% if recent_viewed_search %}{% for cat in recent_viewed_search|slice:'1' %}{% if cat.activity_view %}{{ cat.activity_view }}{% else %}{% endif %}{% endfor %}{% else %}{% endif %}"/>
                <!-- <span class="icon_clear">&#10006;</span>
                </span> -->
                {% endif %}


              
            </div> <!-- form -->
          <!-- <input type="submit" class="#searchbutton btn btn-lg btn-success search_button" value="Search"> -->
            <button type="submit"class="btn btn-lg btn-success search_btn" value="Search">Search</button>
            
        </form>
</div> <!-- container -->

<div class="fl filter_result_wrapper" id="search_result" style="position:relative;">

      {% for productsss in page.object_list %}
          {{productsss.object.title}}
      {% endfor %}

</div>  

<div class="pagination" id="pagination_filter">
            <span class="step-links fl"> 
            {% if page.has_previous %} 
                <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}">Previous</a> 
            {% endif %}
            
            {% for p in page.paginator.page_range %}
            {% if p|add:5 >= page.number and p|add:-5 <= page.number %}
                <li {% if p == page.number %} class="active"{% endif %}>
                 <a href="?q={{request.REQUEST.q}}&page={{ p }}" data-ajaxlink="true" data-ajaxpage="{{ p }}" >{{ p }}</a>
                </li> 
            {% endif %}
            {% endfor %}
            
            {% if page.has_next %} 
                <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}">Next</a> 
            {% endif %} 
            </span>
            
</div>

{% endblock %}
    








