{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load i18n highlight %}
{% block content %}

{% if request.is_ajax %}
<h1>Enter ajax</h1>
{% else %}
<h1>Not Ajax</h1>
{% endif %}


{%if not request.is_ajax%}

<div class="fl filter_wrapper">
    
    <form id="form_search_filter" class="form_search_filter" style="position:relative;">
        <input id="search_form" type="hidden" name="{{form.q.html_name}}"  value="{{form.q.value|default:''}}"/>
        <input type="hidden" name="page"  value="{{page.number}}"/>
        <input type="hidden" name="newsearch"  value="new"/>
     </form>
    
</div><!-- filter_wrapper -->
{%endif%}



<div class="fl filter_result_wrapper" id="search_result" style="position:relative;">
        {% if page and page.object_list %}
            {% for product in page.object_list %}
                {% if product.object %}
                {{product.object.title}}
                {%endif%}
            {% endfor %}
            <div class="pagination" id="pagination_filter">
                <span class="step-links fl"> {% if page.has_previous %} <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}">Previous</a> {% endif %}

                    {% for p in page.paginator.page_range %}
                    {% if p|add:5 >= page.number and p|add:-5 <= page.number %}
                    <li {% if p == page.number %} class="active"{% endif %}>
                        <a data-ajaxlink="true" data-ajaxpage="{{ p }}" href="?q={{request.REQUEST.q}}&page={{ p }}">{{ p }}</a>
                    </li> 
                    {% endif %}
                    {% endfor %}

                    {% if page.has_next %} <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}">Next</a> {% endif %} </span>
            </div>
{%endif%}          
{%if not request.is_ajax%}
</div><!--filter_result_wrapper-->
<div class="clear_both"> </div> 
{%endif%}
{% endblock %}
