{% extends "registration/email_base2.html" %}
{% load i18n %}

{% block content %}

<div class="popup_fade cancel_btn" style=" display:block; height: 112%;"></div>
<div class="container hidden-xs">
          <div id="reset_div" class="reset_div" style="margin-top: -145px; margin-left: -299px; display: block;  height: 300px;">
          <code class="close_resetpwd cancel_btn"></code>
            <div class="forgot_title">
              <span>Password done</span>
            </div> <!-- sign_in_title -->
            
           <p style="text-align: center; margin: 30px 0px 20px 0px;">
            {% trans "Your password has been set. You may go ahead with auto login" %}.
        </p>
        <a href="/start/?user_id={{request.user.id}}" class="btn btn-home login_btn">{% trans "Dashboard" %}</a>
            
        </div> <!-- forget_div -->
</div> <!-- container -->

<div class="container visible-xs">
          <div id="reset_div" class="reset_div" style="margin-top: -145px; margin-left: -145px; display: block;  height: 300px;">
          <code class="close_resetpwd cancel_btn"></code>
            <div class="forgot_title">
              <span>Password done</span>
            </div> <!-- sign_in_title -->
            
           <p style="text-align: center; margin: 30px 0px 20px 0px;">
            {% trans "Your password has been set. You may go ahead with auto login" %}.
        </p>
        <a href="/start/?user_id={{request.user.id}}" class="btn btn-home login_btn">{% trans "Dashboard" %}</a>
            
        </div> <!-- forget_div -->
</div> <!-- container -->

{% endblock %}