{% extends "registration/email_base.html" %}
{% block content %}
{% load i18n %}
<h4>{% trans "Password reset" %}</h4>
<div class="forget_password_content">
<p>{% trans "Enter your e-mail address below, and we'll e-mail" %} {% trans " instructions for setting a new one" %}.</p>

<form action="" method="post">
	{% csrf_token %}
	
 
<p>
	 {% if form.email.errors %}<span class="fl errorlist" style="color:red; margin: -11px 0 -4px;">{% trans "Invalid email" %}</span>{% endif %}
    <div class="clear_both"></div>
    <!-- {{form}} -->
    <form method="post" action="">
		{%csrf_token%}
		<p> </p>
		<div class="clear_both"></div>
		
		<input id="id_email" class="email_id" type="text" maxlength="75" name="email" placeholder="Email ID*" style="width: 280px">
		<input class="btn btn-warning forgot_btn" type="submit" value="Reset my password">
		<p></p>
	</form>
    <!-- <input id="id_email" type="text" maxlength="75" name="email">  -->
   <!--  <input class="btn btn-warning forgot_btn" type="submit" value="{% trans "Reset my password" %}"/></p> -->
</form>
</div>
{% endblock %}





