{% extends "registration/email_base.html" %}
{% block title %}Password reset successful{% endblock %}
{% load i18n %}
{% block content %}


    <p style="font-family: helvetica;font-size: 15px;line-height: 2;margin: 0;padding: 23px 0;">
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted" %}.
    </p>
    <p style="font-family: helvetica;font-size: 15px;text-align: center;">
        {% trans "You should be receiving it shortly" %}.
    </p>
    </div>
    </div>
 
    {% endblock %}
</div>