{% extends 'base.html' %}

{% block content %}

<div class="row row_1">
     
        
      <div class="col-md-4">
            <ul class="category2">
        
          <li class="subcategory">
            <!-- <div class="product_image"><a href="{% url ad_info adinfo.id %}" class=""><img src="{{ STATIC_ROOT }}/{{ adinfo.thumbnail }}"></a></div>
            <a href="{% url ad_info adinfo.id %}" class=""><h4>{{ adinfo.title }}</h4></a>

            <h4>{{ adinfo.price }}</h4> -->

            <div>
              <h2> Product Deatils </h2>



              <a href="{% url ad_info adinfo.id %}" class=""><h4>{{ adinfo.title }}</h4></a>

              </div>
              
                   <p>
                   <div class="product_image"><a href="{% url ad_info adinfo.id %}" class=""><label>Photo:<img src="{{ STATIC_ROOT }}/{{ adinfo.photos }}"></a></div>
                   </p>

             
                   <p>
                   <label>Price: ${{adinfo.price}}
                   </p>

                   <p>
                   <label>Locality:{{adinfo.locality}}
                   </p>

                   <p>
                   <label>Condition:{{adinfo.condition}}</label>
                   </p>

                    <p>
                    <label>Posted by:{{adinfo.you_are}}</label>
                   </p>

                    <p>
                    <label>User name:{{adinfo.you_name}}</label>
                   </p>

                    <p>
                    <label>Locality:{{adinfo.you_phone}}</label>
                   </p>

                    <p>
                    <label>Created date:{{adinfo.created_date}}</label>
                   </p>


                   <p>
                   <div class=""><a href="{% url ad_info adinfo.id %}" class=""><label>Photo:<img src="{{ STATIC_ROOT }}/{{ adinfo.thumbnail }}"></a></div>
                   </p>

                   <p>
                    <label>Description:{{adinfo.description}}</label>
                   </p>
 
                    {% if adinfo.subcategory_id == 1 %}

                    <p>
                   <label>Brand: {{carbrandname.carbrand}}</label>
                   </p>

                   <p>
                   <label>Model: {{carmodelname.carmodel}}</label>
                   </p>

                   <p>
                   <label>Year: {{caryear.year}}</label>
                   </p>

                   <p>
                   <label>Color: {{color.color}}</label>
                   </p>

                   <p>
                   <label>Fuel Type: {{fuel.fueltype}}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 2 %}

                   <p>
                   <label>Brand: {{motorbrandname.motorbrand}}</label>
                   </p>

                   <p>
                   <label>Model: {{motormodelname.motormodel}}</label>
                   </p>

                    <p>
                   <label>Year: {{motoryear.year}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 3 %}

                   <p>
                   <label>Brand: {{scooterbrandname.scooterbrand}}</label>
                   </p>

                   <p>
                   <label>Model: {{scootermodelname.scootermodel}}</label>
                   </p>

                    <p>
                   <label>Year: {{scootoryear.year}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 4 %}

                   <p>
                   <label>Bicycle Type: {{bicycletype.bicycletype}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 5 %}

                   <p>
                   <label>Spare Product: {{sparetype.spare_producttype}}</label>
                   </p>

                   {% elif adinfo.subcategory_id == 6 %}

                   <p>
                   <label>Bus Vehicle_type: {{bustype.buses_vehicletype}}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 7 %}

                   <p>
                   <label>Construction Vehicle_type: {{constructtype.construction_vehicletype }}</label>
                   </p>


                   {% elif adinfo.subcategory_id == 8 %}

                   <p>
                   <label>Brand: {{mobilebrandname.mobilebrand}}</label>
                   </p>

                   <p>
                   <label>Model: {{mobilemodelname.mobilemodel}}</label>
                   </p>


                   {% endif %}
             </div>
            </li>
       
          </ul>
        </div> <!-- row1 2nd col-md-4 -->
       </div> <!-- row1 -->

       <h4>Recommended Results</h4>
<div class="row row_1">
     {% for recommendresult in recommendresults %}
        
      <div class="col-md-4">
            <ul class="category2">
        
          <li class="subcategory">
            <div class="product_image"><a href="{% url ad_info recommendresult.id %}" class=""><img src="{{ STATIC_ROOT }}/{{ recommendresult.photos }}"></a></div>
            <a href="{% url ad_info recommendresult.id %}" class=""><h4>{{ recommendresult.title }}</h4></a>

            <h4>{{ recommendresult.price }}</h4>
            
            </li>
       
          </ul>
        </div> <!-- row1 2nd col-md-4 -->
       
       {% endfor %} 
</div> <!-- row1 -->
{% endblock %}
