{% load static from staticfiles %}
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>confirmation</title>
</head>
<body>

<div style="background-image: url(&quot;https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/mathing products1.jpg &quot;); border: 6px outset; width: 800px; height: 400px;">

          <h3 style="font-size: 16px; text-align: center; margin-top: 21%;"> Dear  {{user.first_name}} </h3>
          <p style="padding: 12px 0px 7px; text-align: center; margin-top: 8px;"> This is your Resell Alert for people looking for Products which is based on {{cate}}. Here are some of the recently posted ads on Resell that will interest you: .</p>
          <p>{{content}}</p>
              
    </div>
  
	</body>
</html>