{% load static from staticfiles %}
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>confirmation</title>
</head>
<body >
<div style="width: 750px; background-image: url(&quot;https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/POST ADS 1.jpg&quot;); border: 6px outset; height: 600px;" class="container">
	<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:40px auto;">
      <tbody>
      	<tr>
	        <td>
	            <p style="font-size: 30px; text-align: center; line-height: 20px; margin-top: 12%;" data-mce-style="font-size: 30px; line-height: 20px;"><strong><span style="font-family: times new roman,times; font-size: 30px; line-height: 20px;"> ADD POSTED <span style="color: rgb(137,145,192); line-height: 20px; font-size: 30px;">SUCCESSFULLY </span></span></strong></p>
	        </td>
        </tr>
        <tr>
	        <td>
	        	<p style="font-size: 16px; line-height: 31px; text-align: center;">For posting your ad{{content}}</p>
	        </td>
        </tr>
        <tr>
	        <td>
	        	<p style="font-size: 16px; line-height: 31px; text-align: center;">Hello <span style="font-size: 16px; line-height: 31px; text-align: center; color:#FF6826">{{user}}</span></p>
	        </td>
        </tr>
        <tr>
	        <td>
	        	<p style="font-size: 16px; line-height: 31px; text-align: center;">Thanks for posting your ads in Resell.<br>Ad Title:{{content}}</p>
	        	
	        </td>
        </tr>
        <tr>
	        <td>
	        	<strong>
	        	<p style="font-size: 16px; line-height: 31px; text-align: center;">Remember, Your Ad will expire automatically after 90 days.</p>
	        	</strong>
	        </td>
        </tr>
      	<tr>
      		<td>
	        	<a style="border: 1px solid rgb(252, 137, 30); float: left; color: white; padding: 10px 17px 7px 14px; text-align: center; background: rgb(252, 137, 30) none repeat scroll 0px 0px; margin-left: 212px; margin-top: 4%;" href="#">View Ads</a>
	        </td>
	        <td>
	        	<!-- <a href="#" style="background: #fc891e none repeat scroll 0 0; border: 1px solid #fc891e; color: white; float: left;margin-left: -212px;margin-top: 26%;padding: 10px 17px 7px 14px;text-align: center;">Update Ads</a> -->
	        </td>

        </tr>
        <tr>
	        <td>
	        	
	        	<p style="font-size: 16px; text-align: center; line-height: 21px; margin-top: 21px; margin-left: 170px;"> Don't share this email with others as it gives direct 117.'<br> access to your Resell account. </p>
	        </td>
        </tr>
  	</tbody>
</table>
	
</div>
	
 