{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE>
<html>
<head>
    <title>confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type="text/css">
      @font-face {
      font-family: calibri Serif;
      src: url(http://192.168.1.34:8000/static/fonts/calibri.ttf);
      }
      @font-face {
        font-family: 'calibri';
        font-style: normal;
        font-weight: 400;
        src: local('calibri'), local('calibricalibri-Regular'), url(file:///home/spbala/django1.4_project/Adjod/adjod/adjod/static/fonts/calibri.ttf) format('ttf');
      }
    </style>

</head>
<body >
 <div style="width: 801px; border: 1px solid; height: 531px;">
      <img is-full-width="false" style="max-width: 126px; margin-left: 29px;" src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/registered logo.jpg" ng-src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/registered logo.jpg" class="" alt="Image" title="Image" href="" ng-load="updateModelImageWidth()" ng-style="{'max-width': maxWidth}" ng-show="!isPlaceholder()"><br>

      <span style="color: rgb(237, 32, 37); font-size: 34px; font-family: calibri; margin-left: 200px;">CONGRATULATIONS!</span><br>

      <span style="font-size: 21px; font-family: calibri; margin-right: 148px; margin-left: 176px;">
        <strong>You are now a registered user of Resell.</strong>
      </span>
     
      <div style="float: left; margin-top: 8px;">
          <img is-full-width="false" style="float: left; max-width: 326px; margin-top: 114px;" src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/editor_images/registered red2.jpg" ng-src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/editor_images/registered red2.jpg" class="" alt="Image" title="Image" href="" ng-load="updateModelImageWidth()" ng-style="{'max-width': maxWidth}" ng-show="!isPlaceholder()">
      </div>
      <div style="float: left; max-width: 434px; margin-top: 8px;">
          <p style="font-family: calibri; color: #4e4e4e; font-size: 16px; line-height: 17px;">Hi <a data-cke-saved-href="#" href="#" style="text-decoration:none;">{{user.first_name}}</a>,<br><br>As a registered user of Resell, you can now:<br><br>• Post Ads for items or services you are looking for or would like to sell.<br><br>• Access your ‘My Resell’ account to view, edit, delete and check replies to all your ads.<br><br>Your registration details are mentioned below. Please keep this email for future reference<br><br><strong>Username:</strong> <a data-cke-saved-href="{{email}}" href="{{email}}" style="color: rgb(237, 32, 37);">{{email}}</a><br type="_moz"></p>
          <span style="font-size: 15px; color: #4e4e4e; font-family: calibri;">Here's the link to activate your Resell account as per your request.
          </span><br><br>
            <a href="{{content}}" style=" padding: 9px; background-image:linear-gradient(#EB1C24,#A20208); color: white;">MY Resell Account</a>
          <img is-full-width="false" style="float: right; max-width: 105px;" src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/editor_images/registered red3.jpg" ng-src="https://pro-bee-user-content-eu-west-1.s3.amazonaws.com/public/users/BeeFree/754de35f-e3a1-42ed-994e-b0550048af0e/editor_images/registered red3.jpg" class="" alt="Image" title="Image" href="" ng-load="updateModelImageWidth()" ng-style="{'max-width': maxWidth}" ng-show="!isPlaceholder()">
          <span style="font-size: 18px; color: #4e4e4e; float: right; font-family: calibri; margin-left: 311px; line-height: 1;"> Team Resell</span>
          
      </div>
  </div>
  </body>
</html>
