{% load static from staticfiles %}
{% load i18n %}
{% block html %}
{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>matching product</title>
 </head>

<body >
<div style="width:629px; font-family: Times new roman; border:20px solid #CFCFCF">
    <table width="500" align="center" cellspacing="0" cellpadding="0" border="0" >
    <tr>
    <td>
        <img  border="0" alt="" src="http://www.globalensolutions.com/resalebuy_img/adjod.png">
        </td>
       <td>
        

</table>
    



	   <!-- <img src="http://www.globalensolutions.com/img/quikr_logo.png"> -->
      
        <p> Dear {{ user }}</p>
             <p style="margin-left:15px;">
                These Products are going to expired in 3days.
                If you want extend please visit our website.</p>
         <table><tr>
        	<td width="222" style="padding:23px 0px 0px 23px; line-height:18px; color:#000;"><b>Category:</b></td>
          <td style="color:#4c4c4c;">{{ cat }}</td>
        </tr>
        <tr height="50px">
        
        	<td style="padding:0px 10px 0px 23px; color:#000; line-height:18px;"><b>Subcategory:</b></td>
        	<td style="color:#4c4c4c;">{{ subcat }}</td>
        </tr>
        <tr height="25px">
       
        	<td style="padding:0px 10px 0px 23px; color:#000; line-height:18px;"><b>Brand:</b></td>
            <td style="color:#4c4c4c;">{{ brand }}</td>
       
        </tr>
        <tr height="50px">
       
        	<td style="padding:0px 10px 0px 23px; color:#000; line-height:18px;"><b>Title:</b></td>
           <td style="color:#4c4c4c;">{{ title }}</td>
           
        </tr>
     
        
           </table>
           <p>{{ con }}</p>
             <p>Thanks<br />
                                    Team Resalebuy<br />
                                 <a href="wwww.devresalebuy.com"> wwww.devresalebuy.com</a>
         </p>
            <img width="628" height="7" border="0" alt="" style="display:block" src="http://www.globalensolutions.com/resalebuy_img/PROMO-GREEN2_07.jpg" >
            <tr>
              <td width="13%" align="center">&nbsp;</td>
              <td width="14%" align="center"><font style="font-family: 'Myriad Pro',Helvetica,Arial,sans-serif; color: rgb(1, 2, 3); font-size: 9px; text-transform: uppercase; "><a style="color:#010203; text-decoration:none" href="http://yourlink"><strong>UNSUBSCRIBE </strong></a></font></td>
              <td width="2%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
              <td width="9%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><a style="color:#010203; text-decoration:none" href="http://yourlink"><strong>ABOUT </strong></a></font></td>
              <td width="2%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
              <td width="10%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><a style="color:#010203; text-decoration:none" href="http://yourlink"><strong>PRESS </strong></a></font></td>
              <td width="2%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
              <td width="11%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><a style="color:#010203; text-decoration:none" href="http://yourlink"><strong>CONTACT </strong></a></font></td>
              <td width="2%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><strong>|</strong></font></td>
              <td width="17%" align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#010203; font-size:9px; text-transform:uppercase"><a style="color:#010203; text-decoration:none" href="http://yourlink"><strong>STAY CONNECTED</strong></a></font></td>
              <td width="4%" align="right"><a target="_blank" href="https://www.facebook.com/"><img width="22" height="19" border="0" alt="facebook" src="http://www.globalensolutions.com/resalebuy_img/PROMO-GREEN2_09_01.jpg"></a></td>
              <td width="5%" align="center"><a target="_blank" href="https://twitter.com/"><img width="23" height="19" border="0" alt="twitter" src="http://www.globalensolutions.com/resalebuy_img/PROMO-GREEN2_09_02.jpg"></a></td>
              <td width="4%" align="right"><a target="_blank" href="http://www.linkedin.com/"><img width="20" height="19" border="0" alt="linkedin" src="http://www.globalensolutions.com/resalebuy_img/PROMO-GREEN2_09_03.jpg" style="margin-top:10px;"></a></td>
              <td width="5%">&nbsp;</td>
            </tr>
            <p style="text-align:center;"><a href="wwww.devresalebuy.com"> wwww.devresalebuy.com</a></p>
	</div>
</body>
</html>
{% endblock %}
{% endblock %}