{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">


	<link rel="shortcut icon" href="">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet"> 
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/quikr.css" rel="stylesheet">

    <script src="../static/js/jquery-1.9.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</head>
<body class="{% block bodyclass %}{% endblock %}">
 <div class="container top1">
      <nav class="navbar navbar-inverse navigation_bar">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
    </button>
    </div> <!-- navbar header -->
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><div class="custom_select fl">
              <div class="select">
                <p>English</p>
                <i class="fa fa-caret-down custom_drop_nav"> </i>
              </div>
              <select class="custom_select_value_act" name="language"> 
                <option value="English">English</option>
                <option value="Hindi">Hindi</option></select>
            </div></li>
          <li><a href="#" class="btn btn-default button2">Login</a></li>
          <li><a href="#" class="btn btn-default button3">Sign up</a></li>
        </ul>
      </div> <!-- navbar collapse -->
      </nav> <!-- navigation bar -->
      <div class="container top2">
        <code></code>
        <div class="search_box">
          <h2 class="heading">Singapore's largest marketplace</h2>
          <div class="container search">
          <form class="form">
            <input type="text" class="form-control input-lg" value="  Search here">
            <i class="fa fa-search"></i>
            <a href class="#searchbutton btn btn-lg btn-success search_button">Search</a>
          </form>
          </div> <!-- container search -->
        </div> <!-- search box -->
      </div> <!-- container top2 -->
      <div class="container top3">
        <p class="first_line">To Buy or Find anything select an option below:</p>
      </div> <!-- container top3 -->
    </div> <!-- container top1 -->
    <div class="container second_part">
      <div class="row row_1">
      {% block second_part %}
      {% endblock %}
      </div> <!-- row1 -->
    </div> <!-- container second part -->
    <div class="container third_part">
      <div class="row row_2">
        <div class="col-md-7">
          <p class="product_form">Sell or Advertise anything</p>
          <a href class="#postbutton btn btn-lg btn-warning post_button">Post Free Ad</a>
        </div> <!-- row2 1st col-md-7 -->
        <div class="col-md-5">
          <h4 class="sell"><i class="fa  fa-shield"></i> How to sell safely ?</h4>
          <p>Try to take the full payment at the time of delivery.<br>Remember to use the safe location to meet <a href="#">Read more</a></p>
        </div> <!-- row2 col-md-5 -->
      </div> <!-- row2 -->
      </div> <!-- third part -->
      <div class="container fourth_part">
      <div class="row row_3">
        <div class="col-md-7 column_style">
          <h4 class="recent_add">Recently added</h4>
          <ul class="products">
            <li class="product_lists">
              <div class="product_image"><a href="" class=""><code><i class="fa fa-camera"></i>12</code></a></div>
              <h3 class="product_name"><a href="" class="span"> Apple iphone 4s white...</a>S$1040.00</h3>
              <span class="product_description"> Apple iphone 2011 model,iphone software,camera...</span><br>
              <span class="product_user"> used | in Anna nagar | By dealer</span>
            </li>
            <li class="product_lists">
              <div class="product_image"><a href="" class=""><code><i class="fa fa-camera"></i>5</code></a></div>
              <h3 class="product_name"><a href="" class="span1"> Sony PSP</a>S$840.00</h3>
              <span class="product_description"> Apple iphone 2011 model,iphone software,camera...</span><br>
              <span class="product_user"> used | in Anna nagar | By dealer</span>
            </li>
            <li class="product_lists">
              <div class="product_image"><a href="" class=""><code><i class="fa fa-camera"></i>2</code></a></div>
              <h3 class="product_name"><a href="" class="span2"> Flat for rent</a>S$240.00</h3>
              <span class="product_description"> Apple iphone 2011 model,iphone software,camera...</span><br>
              <span class="product_user"> used | in Anna nagar | By dealer</span>
            </li>
          </ul>
        </div> <!-- row3 column style -->
        <div class="col-md-5 column_style_1">
          <h4 class="free_alert">Create free alert</h4>
          <ul class="enquiry_form">
            <li><form class="form">
              <input type="text" class="form-control inputs" value="Tell us your need">
            </form></li>
            <li><form class="form">
              <input type="text" class="form-control inputs">
              <div class="custom_select1 fl">
              <div class="select1">
                <p>English</p>
                <i class="fa fa-caret-down custom_drop_nav1"> </i>
              </div>
              <select class="custom_select_value_act1" name="language"> 
                <option value="English">English</option>
                <option value="Hindi">Hindi</option></select>
            </div>
            </form></li>
            <li><form class="form">
              <input type="text" class="form-control inputs" value="Your email">
            </form></li>
            <li><form class="form">
            <input type="text" class="form-control inputs" value="Your mobile number">
          </form></li>
          </ul>
          <div class="form form_alert"><button type="submit"class="btn btn-lg alert_button">Create alert</button></div>
        </div> <!-- row3 column style 1 -->
      </div> <!-- row3 -->
    </div> <!-- fourth part -->
    <div class="container img-responsive">
    <div class="container hp_ad">
            <a href="" class=""><code></code></a>
    </div> <!-- container hp ad -->
    </div> <!-- container img responsive -->
    <div class="container contact_details">
      <p class="contact">For site related issues,Check out our <a href=""><span class="span3">Help</span></a> section or email us at <a href=""><span class="span3">support@quikr.com</span>
      </a><br>You can also call our support team@65-67119979S(M-F:10AM to 6PM)</p>
    </div> <!-- container contact details -->
    <div class="container background img-responsive">
      <code></code>
    </div> <!-- container background -->
    <div class="container fifth_part">
    <div class="row row_4">
      <div class="col-md-2"><a href="" class="footer">Help</a><br>
                            <a href="" class="footer">Terms of use</a><br>
                            <a href="" class="footer">How it works</a>
      </div>
      <div class="col-md-2"><a href="" class="footer">Privacy policy</a><br>
                            <a href="" class="footer">Locations map</a><br>
                            <a href="" class="footer">Contact us</a></div>
      <div class="col-md-2"><a href="" class="footer">Popular searches</a><br>
                            <a href="" class="footer">who we are</a>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4 foot"><span class="footer1">you can also call our support team<br>
                            <span class="phone">phone:65-67119979</span><br>M-F:10AM to 6PM<br>
                            <a href="#facebook"><i class="fa fa-facebook-official facebook"></i></a>
                            <a href="#linkedin"><i class="fa fa-linkedin-square linkedin"></i></a>
                            <a href="#twitter"><i class="fa fa-twitter-square twitter"></i></a>
                            </span>
      </div>
    </div> <!-- row4 -->
    </div> <!-- container fifth part -->
  </body>
</html>