{% extends "base_search.html" %}
{%block search_results1%}
 <ul class="product1">
              {% for product in products %}
                 {{product.title}}
                <li class="product_list1">
                <div class="product_images1 bg-img">
                    
                     <p class="{% if product.premium_plan_id = 1 %} premium-img1 {% elif product.premium_plan_id = 2 %} premium-img2 {% elif product.premium_plan_id = 3 %} premium-img3 {% endif%} "></p>   
                    
                    
                  
                    <a href="{% url product_detail product.id %}">
                    <img src="/static/img/bg-img1.png">  
                    </a>
                   
                    <div class="count_holder1">
                        <span>{{product.imagecount}}</span>
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
                <div class="details">
                  <div class="product_name1">
                      <a href="{% url product_detail product.id %}" class="spans"> {{product.title}}</a>
                      
                      <span class="product_description1">{{product.description}}</span>
                      <!-- <span class="additional_description">{{product.description}}</span> -->
                      
                      <span class="model_year1"> used | in Anna nagar | By dealer</span>
                      <span class="year">{{product.created_date}}</span>
                  </div>
                  <div class="additional_details">
                    <h3>{{product.price}}</h3>
                    <div class="number_verify_control">
                      <span class="number_verify1">Online<i class="fa fa-check-circle checkcircle">
                      </i></span>
                    </div>
                    <a class="btn btn-default contact_button contact-button" href="javascript:openChatBox('{{product.userprofile.user.first_name}}', '', false)"> Chat Now</a>
                  </div>
                </div>
                </li>
                {% endfor %}
    </ul>            

 {%endblock%} 

    