{% extends 'base.html' %}
{% load i18n %}
{% block content %}
   
<div class="left_part_profile hidden-xs">
        <div id="menu_profile">
          <ul>
          <li class="menu_active"><a href="#" class="My_ads">My Ads</a></li>
          <li class="menu_active"><a href="#" class="My_profile">Update My Profile</a></li>
          <li class="menu_active"><a href="#" class="">My Chats</a></li>
        </div><!--menu_profile-->
</div> <!-- left_part_profile -->

<div class="left_part_profile hidden-lg">
        <div id="menu_mobile">
          <ul>
          <li class="menu_active"><a href="#" class="My_ads">My Ads</a></li>
          <li class="menu_active"><a href="#" class="My_profile">Update My Profile</a></li>
          <li class="menu_active"><a href="#" class="">My Chats</a></li>
        </div><!--menu_profile-->
</div> <!-- left_part_profile -->

<div class="update_ads col-md-9">  
  <span class="activate_ads hidden-xs">Activate Ads Management</span>
<div class="fl filter_result_wrapper" id="search_result" style="position:relative;">           
<p class="search_result"></p>
      <div class="right_part">
        <ul class="product1">
          <li class="product_ads">
            <div class="product_images1 bg-img">
              <p class="{% if product.object.premium_plan_id = 1 %} premium-img1 {% elif product.object.premium_plan_id = 2 %} premium-img2 {% elif product.object.premium_plan_id = 3 %} premium-img3 {% endif%} "></p>   
              <a href="#"><img src="/static/img/bg-img1.png"></a>
              <div class="count_holder1 visible-lg">
                    <span>{{product.object.imagecount}}</span>
                    <i class="fa fa-camera"></i>
              </div><!--count_holder1-->
            </div><!--product_images1-->
            <div class="ads_details1">
              <div class="ads_name1">
                <a href="#" class="spans">Title</a>
                <input type="checkbox" name="description" value=""><span class="description1">Wanted-sports equipment</span>
                <span class="ads_id">AD ID:244827572 </span>
                <span class="category_ads">Home & Lifestyle,Sport-<br>Fitness Equipment</span>
             </div><!--ads_name1-->
            <div class="ads_name2">
                <a href="#" class="spans1">Posted Time</a>
                <span class="post_time">Dec-08-2015<br>08.30 AM</span>
             </div><!--ads_name2-->
            <div class="ads_name3 hidden-xs">
                <a href="#" class="spans2">Action</a>
                <span class="action">View</span>
                <span class="action">Edit</span>
                <span class="action">Delete</span>
            </div><!--ads_name3-->
            <div class="ads_name3 visible-xs">
                <a href="#" class="spans2 hidden-xs">Action</a>
                <span class="action"><i class="fa fa-eye"></i></span>
                <span class="action"><i class="fa fa-pencil"></i></span>
                <span class="action"><i class="fa fa-trash-o"></i></span>
            </div><!--ads_name3-->
          </li><!--product_ads-->
        </ul><!--product1-->
      </div> <!-- right_part -->
      <div class="bottom_ads col-md-12">
           <p class="col-md-6">1-25 of 4046 Results</p>
           <span class="check_all col-md-2">Check All</span>
           <span class="uncheck_all col-md-2">Uncheck All</span>
           <button type="button" class="btn btn-warning delete_btn">Delete</button>
</div> <!-- bottom_part -->
</div><!--filter_result_wrapper-->
</div><!--update_ads-->


<div class="profile_text">
   <span class="hidden-xs">Update My Profile</span>
<div class="update_profile col-md-9"> 
  <span class="personal_txt">Personals Details</span> 
 
 <div class="container center">
      <div class="profile_content">
      <div class="personal_details">
      <div class="personal_center">
          <div class="field_title form-group">
            <span class="title">Upload Photos</span>
          </div> <!-- field_title -->
          <div class="field_div form-group" id="upload_photos_div">
              <input type='file' id='photos' name='photos[]' multiple='multiple' />
              <span class="photo_labelError"></span>
          </div> <!-- upload_photos_div -->

          <div class="field_div form-group" id="name_div">
            <input class="email_profile" name="name" id="name" placeholder="Email"/>
          </div> <!-- name_div -->
          <div class="field_div form-group" id="name_div">
            {% if user.is_authenticated %}
            <input class="your_name" name="your_name" id="your_name" value="{{request.user.username}}" disabled/>
            {% else %}
            <input class="age_profile" name="your_name" id="your_name" placeholder="Full Name"/>
            {% endif %}
            <input type="hidden" class="country" name="country" id="country" value="{{country}}" />
            <input class="your_mobile_no" name="your_mobile_no" id="your_mobile_no" type="tel"  onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" onkeypress="isValidMobileNo();" />
          </div> <!-- name_div -->

           <div class="field_div form-group" id="city_div">
            <div class="select_container_city fl" id="select_container_city">
                <div class="select_profile">
                  <p id="select_post_city">Select city *</p>
                  <i class="city_fa fa fa-caret-down">   
                  </i>
                </div> <!-- select_profile -->
                <select id="id_city" class="select_post_city" name="your_city">
                <option value="Select City">Select City</option>
                {% for cityitem in current_country_cities %} 
                <option value="{{ cityitem.id }}">{{ cityitem.city }}</option>
                {% endfor %}
                </select>
                <label id="city_required" class="labelError" style="font-size:35px;display:none;">Please Choose city</label>
            </div> <!-- select_container_city -->
            <div class="select_container_locality fl" id="select_container_locality">
                <div class="select_profile">
                  <p id="select_post_locality">Select locality *</p>
                  <i class="city_fa fa fa-caret-down">     
                  </i>
                </div> <!-- select_profile -->
                <select id="id_locality" class="select_post_locality" name="your_locality" id="your_locality">
                <option value=""></option>   
                </select>
                <label id="locality_required" class="labelError" style="font-size:35px;display:none;">Please Choose locality</label>
            </div> <!-- select_container_city -->
            <div class="clear_both"></div>   
           <div class="clear_both"></div>   
          </div> <!-- city_div -->
          <div class="field_title form-group" id="you_are_title">
              <span class="title">You are</span>
              <span class="mandatory">*</span>
          </div> <!-- you_are_title -->

          <div class="field_div form-group" id="you_are_content">
              <input type="radio" name="you_are_radio" id="individual" value="individual">
              <label for="individual" class="you_are"><span><span></span></span>Individual</label>
              <input type="radio" name="you_are_radio" id="dealer" value="dealer">
              <label for="dealer" class="you_are"><span><span></span></span>Delear</label>
              <label id="content_required" class="labelError" style="display:none;">Please select You are.</label>
              <div class="clear_both"></div>
          </div> <!-- type_of_ad_content -->
         </div><!--personal_center-->
        </div><!--personal_details-->
        <div class="additional_info">  
        <span class="additional_txt">Additional Information</span>
        <div class="additional_center">
          <div class="field_div form-group">
            <div class="select_container_city fl">
                <div class="select_profile">
                  <p>Gender</p>
                  <i class="city_fa fa fa-caret-down">   
                  </i>
                </div> <!-- select_div -->
                <select class="select_post_city" name="gender">
                <option value="gender">Gender</option>
                <option value="">Male</option>
                <option value="">Female</option>
               
                </select>
                <label id="city_required" class="labelError" style="font-size:35px;display:none;"></label>
                </div></div>
           
           <div class="field_div form-group" id="name_div">
            <input class="age_profile" name="name" id="name" placeholder="Age"/>
          </div> <!-- name_div --> 
        <div class="field_div form-group" id="description_div">
            <textarea class="address_profile" maxlength="500" onchange="updateCountdownDesc()" onkeyup="updateCountdownDesc()" name="description" id="your_description" placeholder="Address" value=""></textarea>
         </div> <!-- description_div -->
         </div><!--additional_center-->
       </div><!--additional_info-->
         
      <div class="marketing visible-lg">
          <span class="marketing_txt">Marketing communication</span>
          <input type="checkbox" name="description" class="mark_box" value=""><span class="mailing_txt">Include me in marketing mailing communication</span>
      </div><!--marketing-->

      <div class="marketing visible-xs">
          <span class="marketing_txt">Marketing communication</span><br>
          <input type="checkbox" name="description" class="mark_box" value=""><span class="mailing_txt">Include me in marketing mailing communication</span>
      </div><!--marketing-->

      <div class="set_password">
      <span class="password_txt">Set Your Password</span>
      <div class="password_center">
          <div class="field_div form-group" id="name_div">
            <input class="pwd_profile" name="name" id="name" placeholder="New password"/>
          </div> <!-- name_div -->
          <div class="field_div form-group" id="name_div">
            <input class="newpwd_profile" name="name" id="name" placeholder="Retype new password"/>
          </div> <!-- name_div -->
          <div class="sms_alert">
            <input type="checkbox" name="description" value=""><span class="sms_txt">I wish to receive SMS alerts.</span>
          </div><!--sms_alert-->
          <div class="profile_btn">
            <button type="button" class="btn btn-warning delete_btn">Update</button>
            <button type="button" class="btn btn-warning delete_btn">Cancel</button>
          </div><!--profile_btn-->
      </div><!--password_center-->
      </div><!--set_password-->








    </div> <!-- profile_content -->
  </div> <!-- container center -->


      
      

</div><!--update_profile-->
</div><!--profile_text-->
{% endblock %}