{% load i18n fixido_tags %}
<div id='actor_card'>
    <div class="row-fluid">
        <div class="span8">
            <br>
            <input type="button" value="edit" id="edit_address" style="background:#559FD9 !important;"/>
            <input type="button" value="save" id="save_address" style="display:none;background:#559FD9 !important;" />
            <input type="button" value="cancel" id="cancel_address" style="display:none;background:#559FD9 !important;" />
            <legend>{% trans "Address" %} <span class='error'>{{error}}</span></legend>
            <div class="row-fluid span12">
                <form method="post" action="." class="address_form">
                    {% csrf_token %}
                <div class="span6">
                    <label></label>
                    <label class="span3">E-mail</label> <input type="text" value="{{ actor.email }}" name="email" readonly=readonly /></br>
                    <label class="span3">First name</label> <input type="text" value="{{ actor.first_name }}" name="first_name" readonly=readonly /></br>
                    <label class="span3">Last name</label> <input type="text" value="{{ actor.last_name }}" name ="last_name" readonly=readonly /></br>
                    <label class="span3">Phone</label> <input type="text" value="{{ actor.phone_number }}" name="phone_number_1" readonly=readonly /></br>
                    <label class="span3">Actor key</label> <input type="text" value="{{ actor.actor_key }}" name= "actor_key" readonly=readonly /></br>
                    <label class="span3">Street</label> <input type="text" value="{{ actor.address.street }}" name="street" readonly=readonly /></br>
                    <label class="span3">Postal code</label> <input type="text" value="{{ actor.address.postal_code }}" name="postal_code" readonly=readonly /></br>
                    <label class="span3">City</label> <input type="text" value="{{ actor.address.city }}" name="city" readonly=readonly /></br>
                    <label class="span3">Country</label> <input type="text" value="{% if actor.address.country %}{{ actor.address.country|country_name }}{% endif %}" name="country" readonly=readonly /></br> 
                </div>
                <div class="span6" style="float:right;margin-top: -378px;">
                    <label></label>
                    <label class="span3">Company</label> <input type="text" value="{{ actor.company.name }}" name="company_name" readonly=readonly /></br>
                    <label class="span3">CIN</label> <input type="text" value="{{ actor.company.cin|default:'' }}" name="company_cin" readonly=readonly /></br>
                    <label class="span3">Street</label> <input type="text" value="{{ actor.company.address.street }}" name="company_street" readonly=readonly /></br>
                    <label class="span3">Postal code</label> <input type="text" value="{{ actor.company.address.postal_code }}" name="company_postal_code" readonly=readonly /></br>
                    <label class="span3">City</label> <input type="text" value="{{ actor.company.address.city }}" name="company_city" readonly=readonly /></br>
                    <label class="span3">Country</label> <input type="text" value="{% if actor.company.address.country %}{{ actor.company.address.country|country_name }}{% endif %}" name="company_country" readonly=readonly />
                    <label class="span3">Phone</label> <input type="text" value="{% if actor.company.phone_number %}{{ actor.company.phone_number}}{% endif %}" name="company_phone_number" readonly=readonly />
                    <label class="span3">Actor Desc</label> <input type="text" value="{{ actor.description }}" name="description" readonly=readonly /></br> 
                    <label class="span3">VAT</label> <input type="text" value="{{ account.vat_number }}" name="vat" readonly=readonly /></br>
                </div>
                <input type="hidden" name="actor_id" id="actor_id" value="{{ actor.id }}" /> 
                </form>
            </div>
        </div>
        <br>
        <div class="span4">
            <form method="post" action="." class="address_form">
            <legend>{% trans "Info" %}</legend>
            <select name="actor_status">
                <option {% if actor.is_active %}selected=selected{% endif %} value="active">Active</option>
                <option {% if not actor.is_active %}selected=selected{% endif %} value="inactive">Inactive</option>
            </select></br>
            {% if actor.language %}
            <select name="actor_language">
                <!--<option>{% if actor.language %}{{ actor.language|language_name }}{% else %}Language{% endif %}</option>-->
                <option {% if actor.language == 'sv'%}selected=selected{% endif %} value="sv">{{ 'sv'|language_name }}</option>
                <option {% if actor.language == 'en'%}selected=selected{% endif %} value="en">{{ 'en'|language_name }}</option>
                <option {% if actor.language == 'de'%}selected=selected{% endif %} value="de">{{ 'de'|language_name }}</option>
            </select>
            {% else %}
            <select >
                <option>Language</option>
                <!--<option>English</option>
                <option>German</option>-->
            </select>    
            {% endif %}    
            </br><br>
            <input type="checkbox" {% if actor.email_subscribed %}checked="checked" {% endif %}readonly=readonly name="email_subscribed"/>&nbsp;<label>Email subscribed</label>
            {% if not actor.email_subscribed %}<i class="fa fa-flag" style="font-size: 15px; color:#e74c3c;" ></i>{% endif %}</br>
            <input type="checkbox" {% if actor.is_sellerregistered %}checked="checked" {% endif %}readonly=readonly name="is_seller"/>&nbsp;<label>Is seller registered</label>
            {% if actor.is_sellerregistered %}<i class="fa fa-flag" style="font-size: 15px; color:green;" ></i>{% endif %}</br>
            <input type="checkbox" {% if actor.sales_email %}checked="checked" {% endif %}readonly=readonly name="sales_email" />&nbsp;<label>Sales e-mail</label><br>
            <label class="span5">Date joined</label> <input class="span6" type="text" value="{{ actor.date_joined }}" readonly=readonly /></br>
            <label class="span5">Last login</label> <input class="span6" type="text" value="{{ actor.last_login }}" readonly=readonly /></br>
            <label class="span5">Account balance</label> <input class="span6" type="text" value="{{ account.balance|floatdot:0|format_thousands }}  {{actor.currency}}" readonly=readonly /></br>
            <label class="span5">Base balance</label> <input class="span6" type="text" value="{{ account.base_balance|floatdot:0|format_thousands }} {{ account.base_currency}}" readonly=readonly /></br>
            <label class="span5">Invoice limit</label> <input class="span6" type="text" value="{{ actor_invoice.invoice_limit|default:-1 }}" readonly=readonly />
            </form>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="row-fluid">
        <form method="post" action="." class="address_form">
        <div class="span8">
            <legend>Note</legend>
            <textarea class="span12" rows="10" disabled="disabled" placeholder="No admin notes available">{{ notes }}</textarea>
            <textarea class="span12" rows="4" name="admin_note" readonly="readonly" placeholder="Enter new admin note"></textarea>
        </div>
        <div class="span4">
            <legend>{% trans "Statistics" %}</legend>
            <label class="span5">Orders</label> <input class="span6" type="text" value="{{ order_count }}" readonly=readonly /></br>
            <label class="span5">Notice e-mail</label> <input class="span6" type="text" value="{{ email_count }}" readonly=readonly /></br>
            <label class="span5">Customer rank</label> <input class="span6" type="text" value="{{ customer_rank }}" readonly=readonly /></br>
            <label class="span5">Customer value</label> <input class="span6" type="text" value="{{ customer_value }}" readonly=readonly />
        </div>
        <div class="clear"> </div>
        </form>
    </div>
    <br/>
    {% include "card/invoices.html" %}
    <br/>
    {% include "card/orders.html" %}
    <br/>
    {% include "card/boughts.html" %}
    <br/>
    {% include "card/viewedleads.html" %}
    <br/>
    {% include "card/latestsearches.html" %}
    <br/>
    {% include "card/filters.html" %}
    <br/>
    {% include "card/subscriptions.html" %}
    <br/>
    {% include "card/bids.html" %}
    <br/>
    {% include "card/notice.html" %}

</div>
