{% load i18n fixido_tags %}
    <div class="module trans-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Campaign statistics" %}
            </legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>Statistics number</span>{% csrf_token %}</div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Email campaign url</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Leadseller</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Leadbuyer</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Ip</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Is registered</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for cs in campaign_statistics %}
                  <tr class="{% cycle 'row1' 'row2' %}">                    
                      <td><a href="/admin/actors/actorcampaignemailstatistics/{{cs.id}}" target="_blank">{{cs.statistics_number}}</a></td>
                      <td>{{cs.emailcampaignurl}}</td>
                      <td style="word-break:normal !important;" >{{cs.leadseller}}</td>
                      <td style="word-break:normal !important;" >{{cs.leadbuyer}}</td>
                      <td style="word-break:normal !important;" >{{cs.ip}}</td>
                      <td>{{cs.is_registered}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='7'>No Campaign statistics available.</td>
                  </tr>
              {% endfor %}
            </table>
          </div>
          {% if campaign_statistics %}
          {% with pagi=campaign_statistics tab='bid' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
