{% load i18n fixido_tags %}
    <div class="module filter-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Lead Filters" %}</legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>ID</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>created by</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Search</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Count</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Status</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Created</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Modified</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for filter in filters %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td><a href="/admin/control/leadfilter/{{filter.id}}" target="_blank">{{filter.id}}</a></td>
                      <td>{{filter.created_by}}</td>
                      <td><a href="/admin/control/leadfilter/{{filter.id}}" target="_blank">{{filter.search}}</a></td>
                      <td>{{filter.leadcount}}</td>
                      <td>{{filter.status}}</td>
                      <td>{{filter.created}}</td>
                      <td>{{filter.modified}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='7'>Filters not created.</td>
                  </tr>
              {% endfor%}
            </table>
          </div>
          {% if filters %}
          {% with pagi=filters tab='filter' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
