{% load i18n fixido_tags %}
    <div class="module latestsearch-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Recently search" %}</legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>Search text</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Leads count</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Method</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>IP-number</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">                    
                     <div class="text"><span>Search date</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for ls in latestsearches %}
                  <tr class="{% cycle 'row1' 'row2' %}">                    
                      <td>{{ls.activity_view}}</a></td>
                      <td>{{ls.leadscount}}</td>
                      <td>{{ls.method}}</td>
                      <td>{{ls.ip_number}}</td>
                      <td>{{ls.modified}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='7'>No recent searches.</td>
                  </tr>
              {% endfor%}
            </table>
          </div>
          {% if latestsearches %}
          {% with pagi=latestsearches tab='latestsearch' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
