{% load i18n fixido_tags %}
    <div class="module nemails-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Notice e-mails" %}</legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>ID</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Lead</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Lead ID</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Lead filter</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Completed</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Bought</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for notice in notice_emails %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td>{{notice.id}}</td>
                      <td>
                        <a href="/admin/worker/workernoticeemailtask/{{notice.ntask.id}}" target="_blank">{{notice.ntask.lead.title}}</a>
                      </td>
                      <td>{{notice.ntask.lead.id}}</td>
                      <td>{{notice.leadfilter}}</td>
                      <td>{{notice.completed}}</td>
                      <td>{{notice.bought}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='6'>Notice email not sent.</td>
                  </tr>
              {% endfor %}
            </table>
          </div>
          {% if notice_emails %}
          {% with pagi=notice_emails tab='nemails' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
