{% load i18n fixido_tags %}
    <div class="module viewedlead-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Recently viewed leads" %}</legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>Lead id</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Lead title</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Method</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>IP-number</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">                    
                     <div class="text"><span>Viewed date</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for vl in viewedleads %}
                  <tr class="{% cycle 'row1' 'row2' %}">                    
                      <td><a href="/admin/leads/lead/{{vl.lead.id}}" target="_blank">{{vl.lead.id}}</a></td>
                      <td>{{vl.lead.title}}</td>
                      <td>{{vl.method}}</td>
                      <td>{{vl.ip_number}}</td>
                      <td>{{vl.modified}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='7'>No recently viewed leads.</td>
                  </tr>
              {% endfor%}
            </table>
          </div>
          {% if viewedleads %}
          {% with pagi=viewedleads tab='viewedlead' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
