{% load i18n fixido_tags %}
    <div class="module viewedlead-id" id="changelist">
        <span id="changelist-form">
          <div class="results">
            <legend>{% trans "Recently viewed users" %}</legend>
            <table id="result_list">
              <thead>
                <tr>
                  <th scope="col">
                     <div class="text"><span>User id</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>Method</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">
                     <div class="text"><span>IP-number</span></div>
                     <div class="clear"></div>
                  </th>
                  <th scope="col">                    
                     <div class="text"><span>Viewed date</span></div>
                     <div class="clear"></div>
                  </th>
                </tr>
              </thead>
              {% for vl in viewedusers %}
                  <tr class="{% cycle 'row1' 'row2' %}">                    
                      <td>{{vl.user}}</td>
                      <td>{{vl.method}}</td>
                      <td>{{vl.ip_number}}</td>
                      <td>{{vl.modified}}</td>
                  </tr>
              {% empty %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <td colspan='7'>No recently viewed users.</td>
                  </tr>
              {% endfor%}
            </table>
          </div>
          {% if viewedusers %}
          {% with pagi=viewedusers tab='vieweduser' %}
          {% include "card/pagination.html" %}
          {% endwith %}
          {% endif %}
        </span>
    </div>
